-#Locals: references, reference, picker_type

- picker_type = 'popup'
- references ||= nil
- reference ||= nil
- css_class = "antcat_reference_#{picker_type}"

.antcat_reference_popup.antcat_reference_picker.antcat_panel.ui-widget.ui-widget-content.ui-corner-all{class: css_class}
  .template
    = render "reference_#{picker_type}s/panel", reference: Reference.new

  %table.references.current
    %tr
      %td
        = render "reference_#{picker_type}s/panel", reference: reference

  .expansion.nested_form
    %table
      %tr
        %td.throbber= image_tag 'ui-anim_basic_16x16.gif'
        %td.controls
          = render "reference_#{picker_type}s/controls", reference: reference
          = will_paginate references if references
          .help_banner
            %span.help_banner_text

    - if references && (references.first != reference || references.size != 1 || params[:q].present?)
      -if references.empty?
        .no_results_found No results found
      %table.references.search_results
        - for reference in references
          %tr
            %td= render "reference_#{picker_type}s/panel", reference: reference

    = render 'shared/qtip'
