-#Locals: change

- taxon = change.reify

%div.change_header
  %div.change_description
    %div.name.left= "#{User.find(change.whodunnit).name} added"
    %div.taxon.left= taxon.name.name_html.html_safe
    %div.time.right= format_time_ago change.created_at
    %div.clear
  - if change.approver
    %div.change_status
      %div.approver.left "#{User.find(change.approver).name} approved this change"
      %div.approval_time.right format_time_ago change.approved_at
      %div.clear

%table
  %tr
    %td
      %table

        %tr
          %td.label Name
          %td.value.name= format_name taxon.name

        %tr
          %td.label.parent_rank= format_rank Rank[taxon.rank].parent
          %td.value.parent= format_name taxon.parent.name

        %tr
          %td.label Status
          %td.value.status= format_status taxon.status

        - if taxon.incertae_sedis_in.present?
          %tr
            %td.label Incertae sedis in
            %td.value.incertae_sedis= taxon.incertae_sedis_in

        - attributes = format_attributes taxon
        - if attributes.present?
          %tr
            %td.label Attributes
            %td.value.attributes= attributes

        - if taxon.headline_notes_taxt.present?
          %tr
            %td.label Notes
            %td.value.notes= format_taxt taxon.headline_notes_taxt

      %table
        %tr
          - protonym = taxon.protonym
          %td.header Protonym

        %tr
          %td.label Name
          %td.value.protonym_name= format_name protonym.name

        - attributes = format_protonym_attributes taxon
        - if attributes.present?
          %tr
            %td.label Attributes
            %td.value.protonym_attributes= attributes

        %tr
          - authorship = protonym.authorship
          %td.label Authorship
          %td.value.authorship_reference= format_reference authorship.reference

        %tr
          %td.label Page
          %td.value.page= authorship.pages

        %tr
          %td.label Forms
          %td.value.forms= authorship.forms

        %tr
          %td.label Locality
          %td.value.locality= protonym.locality

        - authorship_notes = authorship.notes_taxt
        - if authorship_notes.present?
          %tr
            %td.label Notes
            %td.value.authorship_notes= format_taxt authorship_notes

      - if taxon.type_name.present?
        %table
          %tr
            %td.header Type

          %tr
            %td.label Name
            %td.value.type_name= format_name taxon.type_name

          - attributes = format_type_attributes taxon
          - if attributes.present?
            %tr
              %td.label Attributes
              %td.value.type_attributes= attributes

          - if taxon.type_taxt.present?
            %tr
              %td.label Notes
              %td.value.type_notes= format_taxt taxon.type_taxt

      = render 'history_items', taxon: change.taxon

      = render 'reference_sections', taxon: change.taxon
