-change = change.decorate

.change_header
  -if change.change_type != 'delete' and not taxon.nil?
    .change_description
      %span.name= change.format_adder_name
      %span.taxon= taxon.decorate.link_to_taxon
      %span.edit_button= taxon.decorate.link_to_edit_taxon
      %span= change.undo_button
      %span= change.approve_button
      %span.time.right= change.format_created_at
      .clear

    -if change.approver
      .change_status
        %span.approver.left= change.format_approver_name
        %span.approval_time.right= change.format_approved_at
        .clear
  -else
    .change_description
      %span.name= change.format_adder_name
      %span.taxon= format_taxon_name taxon.name
      %span= change.undo_button
      %span.left= change.approve_button
      .clear
