-# Locals: taxon, change

%div.change_header

  %div.change_description
    %div.name.left= format_adder_name change.change_type, taxon.added_by
    %div.taxon.left= link_to_taxon taxon
    %div.edit_button.left= edit_button taxon
    %div.undo_button.left= undo_button taxon
    %div.approve_button.left= approve_button taxon
    %div.time.right= format_time_ago change.created_at
    %div.clear

  - if change.approver
    %div.change_status
      %div.approver.left= format_approver_name change.approver
      %div.approval_time.right= format_time_ago change.approved_at
      %div.clear
