-#Instance variables: @changes

- @changes.each do |change|
  - taxon = change.reify
  %div.entry_header #{User.find(change.whodunnit).name} added <b>#{taxon.name.name_html.html_safe}</b> #{change.human_time_ago}

  %table
    %tr
      %td

        %table
          %tr
            %td.label Name
            %td.value.name= taxon.name.name_html.html_safe
          %tr
            %td.label.parent_rank= Rank[taxon.rank].parent.display_string
            %td.value.parent= taxon.parent.name.name_html.html_safe
          %tr
            %td.label Status
            %td.value.status= Status[taxon.status].to_s
          - if taxon.incertae_sedis_in.present?
            %tr
              %td.label Incertae sedis in
              %td.value.incertae_sedis= taxon.incertae_sedis_in
          - attributes = format_change_attributes taxon
          - if attributes.present?
            %tr
              %td.label Attributes
              %td.value.attributes= attributes
          - if taxon.headline_notes_taxt.present?
            %tr
              %td.label Notes
              %td.value.notes= format_taxt taxon.headline_notes_taxt

          %tr
            %td.label Name
            %td.value.protonym_name= taxon.protonym.name.name_html.html_safe
          - protonym_attributes = format_change_protonym_attributes taxon
          - if protonym_attributes.present?
            %tr
              %td.label Attributes
              %td.value.protonym_attributes= protonym_attributes

        -#%table
          -#%tr
            -#%td.header{colspan: 100}Type
          -#%tr
            -#%td.label Name
            -#%td.value Cerylus arreteria
          -#%tr
            -#%td.label Attributes
            -#%td.value= ['Fossil'].join(', ')
          -#%tr
            -#%td.label Notes
            -#%td.value Something with taxt in it
