-#Instance variables: @changes
- @title = 'Changes'

=enable_tooltips

- content_for :head do
  = javascript_include_tag 'optimal-select.min'

%div.approve_all_button.right= approve_all_button

%div= will_paginate @changes

= render @changes

%div= will_paginate @changes
