=enable_tooltips
-content_for :head do
  = javascript_include_tag  'optimal-select.min'
  = javascript_include_tag 'tooltips_generate_selector_test_string'

=form_for @tooltip do |f|
  = hidden_field_tag 'referral', @referral
  = render 'shared/errors_for', resource: @tooltip


  %p
    =f.label :key
    -if action_name == "new" # Works, but not very pretty
      =f.text_field :key, value: (params[:key].presence || "") # Pre-populate if requested.
    -else
      =f.text_field :key

  %p
    =f.label :page_origin
    =f.text_area :page_origin


  %p
    =f.label :text
    =f.text_area :text
  %p
    =f.label :selector
    =f.text_area :selector


  .actions
    = button_tag "Test Selector", type: "button", id: "test_selector_button" # hooked into by jQuery
    = f.submit

-# The #test_selector_notice and #test_selector_snippet elements are used for
-# letting editors test the selector, hooked into by jQuery.
%p#test_selector_notice
%pre#test_selector_snippet