- @title = 'Name Popup Test'

- content_for :head do
  = javascript_include_tag  'widgets/panel', 'widgets/form', 'widgets/ajax_form', 'widgets/nested_form'
  = javascript_include_tag  'widgets/name_popup'
  = javascript_include_tag  'widget_tests/name_popup_test'

  = stylesheet_link_tag 'taxa'

- content_for :page_contents do
  #popup
    = render 'name_popups/show'
  #results
