- @title = 'Reference Field Test'

- content_for :head do
  = javascript_include_tag 'widgets/panel', 'widgets/form', 'widgets/ajax_form', 'widgets/nested_form', 'widgets/reference_panel', 'widgets/reference_field', 'widgets/reference_form', 'widgets/name_picker'
  = javascript_include_tag 'widget_tests/reference_field_test'

- content_for :page_contents do
  %form{id: 'taxon_form', class: 'antcat_form ui-corner-all ui-widget-content ui-widget'}
    = hidden_field_tag 'authorship_value'
    = hidden_field_tag 'other_authorship_value'
    %table
      %col{:width => '50px'}
      %col{:width => '*'}

      %tr
        %td= label_tag :name
        %td= text_field_tag :name

      %tr
        %td= label_tag 'Reference'
        %td#selected_reference No reference selected

      %tr
        %td.authorship= label_tag 'Authorship'
        %td
          #authorship_field
            = render 'reference_fields/show', references: @references, reference: @reference

      %tr.buttons
        %td.buttons{:colspan => 4}
          %button.ui-priority-primary.submit= previewize @possible_duplicate ? 'Save Anyway' : 'Save'
          %button.ui-priority-secondary.cancel Cancel
