- @title = 'Reference Field Test'

- content_for :head do
  = javascript_include_tag 'widgets/panel', 'widgets/form', 'widgets/nested_form', 'widgets/reference_panel', 'widgets/reference_picker', 'widgets/reference_form', 'widgets/tag_type_selector', 'widgets/taxon_picker'
  = javascript_include_tag 'widget_tests/reference_field'
  = stylesheet_link_tag 'catalog/taxon_form'

- content_for :page_contents do
  %form#taxon_form.antcat_form.ui-corner-all.ui-widget-content.ui-widget
    %table
      %col{:width => '50px'}
      %col{:width => '*'}

      %tr
        %td= label_tag :name
        %td= text_field_tag :name

      %tr
        %td= label_tag 'Reference'
        %td#selected_reference No reference selected

      %tr
        %td.authorship= label_tag 'Authorship'
        %td
          #authorship_picker
            = render 'reference_pickers/show', references: nil, current_reference: Reference.first

      %tr
        %td.authorship= label_tag 'Authorship'
        %td
          #other_authorship_field
            = render 'reference_pickers/show', references: nil, current_reference: nil

      %tr.buttons
        %td.buttons{:colspan => 4}
          %button.ui-priority-primary.submit= @possible_duplicate ? 'Save Anyway' : 'Save'
          %button.ui-priority-secondary.cancel Cancel
