- @title = 'Reference Field Test'

- content_for :head do
  = javascript_include_tag 'widgets/panel', 'widgets/form', 'widgets/reference', 'widgets/reference_field'
  = javascript_include_tag 'widget_tests/reference_field'

  :javascript
    AntCat.test_reference_id = #{params[:id].present? ? Reference.first.id : 'null'};

- content_for :page_contents do
  .ui-corner-all.ui-widget-content.ui-widget
    %form
      %table
        %col{:width => '50px'}
        %col{:width => '*'}
        %col{:align => 'right', :width => '34px'}
        %col{:width => '100px'}
        %tr
          %td= label_tag 'Authorship'
          %td.antcat_reference_field
            = render 'reference_fields/show', references: nil, current_reference: nil
        %tr
          %td= label_tag :name
          %td= text_field_tag :name
        %tr
          %td.spinner_container{:colspan => 4}
            %button.ui-priority-primary.submit= @possible_duplicate ? 'Save Anyway' : 'Save'
            %button.ui-priority-secondary.cancel Cancel
