- @title = 'Reference Popup Test'

- content_for :head do
  = javascript_include_tag  'widgets/panel', 'widgets/form', 'widgets/ajax_form', 'widgets/nested_form'
  = javascript_include_tag  'widgets/reference_form', 'widgets/reference_panel'
  = javascript_include_tag  'widgets/reference_picker', 'widgets/reference_popup'
  = javascript_include_tag  'widget_tests/reference_popup_test'

- content_for :page_contents do
  #results
  #popup
    = render 'reference_popups/show', references: nil, reference: @reference
