- @title = 'Taxt Edit Box Test'

- content_for :head do
  = javascript_include_tag 'widgets/panel', 'widgets/form', 'widgets/nested_form', 'widgets/reference_panel', 'widgets/reference_picker', 'widgets/tag_type_selector'
  = javascript_include_tag 'widgets/taxt_editor'
  = javascript_include_tag 'widget_tests/taxt_editor'

- content_for :page_contents do
  #taxt_editor
    = text_area_tag :taxt_edit_box, "", rows: 1, class: 'taxt_edit_box'

    .antcat_tag_type_selector
      = render 'tag_type_selectors/show'

    .antcat_reference_picker.ui-widget.ui-widget-content.ui-corner-all
      = render 'reference_pickers/show', references: nil, current_reference: nil

    .antcat_picker_picker.ui-widget.ui-widget-content.ui-corner-all
      = render 'taxon_pickers/show', taxon: nil

