-# Locals: panels, panel

.author_panel

  - if panels.select{|panel| panel[:author]}.count >= 2 && panel == panels.last
    .merge
      = form_tag authors_merge_path do
        - panels.each do |a_panel|
          = hidden_field_tag 'terms[]', a_panel[:term]
        = submit_tag 'Merge these authors'
      -#.help= "Click this button to make #{author_names_string} refer to the same author, so that searching for one of the names will find the others."
      .help= "Click this button to make \"Bolton, B.\" and \"Bolton,B\" refer to the same author, so that searching for one of the names will find the others."

  .search
    = form_tag authors_path, method: :get do
      .left
        - panels.each do |a_panel|
          = hidden_field_tag 'term', panel[:term]
          - if a_panel != panel
            = hidden_field_tag 'terms[]', a_panel[:term]
          - else
            - label = 'Choose '
            - label << 'another ' if panel == panels.last && panels.count > 1
            - label << 'author'
            = label_tag 'terms[]', label
            = text_field_tag 'terms[]', panel[:term]
            = image_tag 'help.png', :class => 'q help_icon'
            = submit_tag 'Go'
      .right
        = link_to 'close', {}, class: 'close_link' if panel != panels.last
      .clear

  - if panel[:term].present?
    .search_results
      - if panel[:already_open]
        %span.none This author is open in another panel.
      - elsif panel[:author]
        = render 'author', author: panel[:author]
      - else
        %span.none No results found. Please select from the list after typing characters in the name.

