.author_panel
  = form_tag authors_path, :method => 'get', :id => 'search_form' do
    = label_tag :q, 'Choose author'
    = text_field_tag "q", params[:q]
    = image_tag 'help.png', :class => 'q help_icon'
    = submit_tag "Go"
  - if params[:q].present?
    .name_sections
      - if author
        - for author_name in author.names.sort
          - references = author_name.references
          - quantity = references.present? ? references.count.to_s : 'no'
          - noun = 'reference'
          - noun << 's' unless references.count == 1
          - reference_count_string = "#{quantity} #{noun}"
          .name_section
            .name
              = author_name.name
              %span.count= reference_count_string
            - if references.present?
              .references_section
                - for reference in references
                  .reference_section
                    = ReferenceFormatter.format reference
      - else
        .no_results No results found. Make sure to select from the list after typing some of the name.

