-# Locals: author, q, prompt, css_classes, other_terms, show_close_button, already_open, show_merge_button, author_names_string
.author_panel{class: css_classes}
  - if show_merge_button
    .merge
      = form_tag authors_path do
        - for term in other_terms
          = hidden_field_tag 'other_terms[]', term
        = submit_tag 'Merge these authors'
      .help= "Click this button to make #{author_names_string} refer to the same author, so that searching for one of the names will find the others."
  .search
    = form_tag authors_path, :method => 'get', :id => 'search_form' do
      - for term in other_terms
        = hidden_field_tag 'other_terms[]', term
      .left
        = label_tag :q, prompt
        = text_field_tag "q", q
        = image_tag 'help.png', :class => 'q help_icon'
        = submit_tag "Go"
      .right
        = link_to 'close', {}, class: 'close_link' if show_close_button
      .clear
  - if q.present?
    .search_result
      - if author
        = render 'author', author: author
      - elsif already_open
        .none This author is open in another panel.
      - else
        .none No results found. Please select from the list after typing characters in the name.

