.author_panel
  = form_tag authors_path, :method => 'get', :id => 'search_form' do
    Choose author
    = text_field_tag "q", params[:q]
    = image_tag 'help.png', :class => 'q help_icon'
    = submit_tag "Go"
  - if params[:q].present?
    .name_sections
      - if author
        - for author_name in author.names.sort
          .name_section
            .name
              = author_name.name
            .references_section
              - references = author_name.references
              - if references.present?
                - for reference in author_name.references
                  .reference_section
                    = ReferenceFormatter.format reference
              - else
                No references
      - else
        No results found

