- @title = 'Authors'

- content_for :head do
  = stylesheet_link_tag 'authors'
  = javascript_include_tag 'authors'

.author_panel
  = form_tag authors_path, :method => 'get', :id => 'search_form' do
    Search for author:
    = text_field_tag "q", params[:q]
    = image_tag 'help.png', :class => 'help_icon'
    = submit_tag "Go"
  = @name
