- @title = 'Authors'

- content_for :head do
  = javascript_include_tag 'ext/jquery.ui.autocomplete.selectFirst', 'ext/jquery.qtip-1.0.0-rc3.min'
  = stylesheet_link_tag 'authors'
  = javascript_include_tag 'authors'

- content_for :page_contents do
  - for panel in @panels
    = render 'panel', panels: @panels, panel: panel

  - if @authors.count >= 2
    = render 'merge', panels: @panels, names: @names

= render 'shared/qtip'
