- @title = 'Authors'

- content_for :head do
  = javascript_include_tag 'ext/jquery.ui.autocomplete.selectFirst', 'ext/jquery.qtip-1.0.0-rc3.min'
  = stylesheet_link_tag 'authors'
  = javascript_include_tag 'authors'

- content_for :page_contents do
  - for panel in @panels
    = render 'panel', panels: @panels, panel: panel

= render 'shared/qtip'

-#- css_classes = @panels.count > 1 ? 'half_width' : ''
-#- is_next_to_last = @panels.index(panel) == @panels.count - 2
-#- more_css_classes = is_next_to_last ? ' is_next_to_last' : ''
-#- panels_with_authors_count = @panels.inject(0) do |panels_with_authors_count, panel|
-#- panels_with_authors_count += 1 if panel[:author]
-#- panels_with_authors_count
-#- show_merge_button = panels_with_authors_count >= 2 && panel == @panels.last
