- @title = 'Authors'

- content_for :head do
  = javascript_include_tag 'ext/jquery.ui.autocomplete.selectFirst', 'ext/jquery.qtip-1.0.0-rc3.min'
  = stylesheet_link_tag 'authors'
  = javascript_include_tag 'authors'

= render 'panel', author: @authors[0]

= render 'shared/qtip'
