-#Locals: genus, tribe
-#Members: @possible_duplicate

.taxon_form.ui-corner-all.ui-widget-content.ui-widget
  - genus ||= Genus.new
  = form_for genus do |f|
    %span.creating_taxon_message= creating_taxon_message :genus, tribe
    = render 'shared/errors_for', resource: genus

    -#%input{type: 'hidden', name: 'subfamily_id', value: subfamily_id}
    %input{type: 'hidden', name: 'genus[tribe]', value: tribe.id}

    %table
      %col{:width => '50px'}
      %col{:width => '*'}
      %col{:align => 'right', :width => '34px'}
      %col{:width => '100px'}
      %tr
        %td= label_tag :name
        %td= f.text_field :name
      %tr
        %td= label_tag 'Authorship'
        %td.reference_picker
          = render 'reference_pickers/show', references: nil, current_reference: nil
      %tr
        %td.spinner_container{:colspan => 4}
          %button.ui-priority-primary.submit= @possible_duplicate ? 'Save Anyway' : 'Save'
          %button.ui-priority-secondary.cancel Cancel
