- @title = 'Catalog Index'

- content_for :head do
  = javascript_include_tag 'catalog/index'
  = stylesheet_link_tag 'catalog/index'

#catalog
  .content
    #taxon_header
      - if @taxon.kind_of? Taxon
        %span.taxon_header
          = raw @taxon_header_name
        %span.taxon_status
          = status_labels[@taxon.status][:singular] if @taxon.invalid?
        .statistics
          = taxon_statistics @taxon
        - if @taxonomic_history
          .taxonomic_history
            = raw @taxonomic_history
    %hr

  .index
    = render 'rank', :items => @subfamilies, :selected_item => @selected_subfamily, :header => 'Subfamilies', :url_parameters => @url_parameters, :options => {:taxon => @taxon, :show_none => true, :hideable_child_name => 'tribes'}
    - unless @selected_subfamily == 'no_subfamily' || params[:hide_tribes]
      = render 'rank', :items => @tribes, :selected_item => @selected_tribe, :header => 'Tribes', :url_parameters => @url_parameters, :options => {:taxon => @taxon, :hideable_name => 'tribes'}
    = render 'rank', :items => @genera, :selected_item => @selected_genus, :header => 'Genera', :url_parameters => @url_parameters, :options => {}
    = render 'rank', :items => @species, :selected_item => @selected_species, :header => 'Species', :url_parameters => @url_parameters, :options => {}
