- @title = 'Catalog Index'

- content_for :head do
  = javascript_include_tag 'catalog/index'
  = javascript_include_tag 'ext/jquery.qtip-1.0.0-rc3.min'
  = stylesheet_link_tag 'catalog/index'

#catalog
  .content
    = raw CatalogFormatter.format_taxon @taxon, current_user
    %hr

  .index

    = render 'rank', :rank => :subfamily, :items => @subfamilies, :selected_item => @subfamily, :header => 'Subfamilies', :column_selections => @column_selections, :options => {:show_none => 'none', :hideable_child_name => 'tribes'}

    - unless @subfamily == 'none' || params[:hide_tribes]
      -#= render 'rank', :rank => :tribe, :items => @tribes, :selected_item => @tribe, :header => 'Tribes', :column_selections => @column_selections, :options => {:show_none => 'no_tribe', :hideable_name => 'tribes'}
      = render 'rank', :rank => :tribe, :items => @tribes, :selected_item => @tribe, :header => 'Tribes', :column_selections => @column_selections, :options => {:show_none => 'none'}

    = render 'rank', :rank => :genus, :items => @genera, :selected_item => @genus, :header => 'Genera', :column_selections => @column_selections, :options => {}

    = render 'rank', :rank => :species, :items => @specieses, :selected_item => @species, :header => 'Species', :column_selections => @column_selections, :options => {}

= render 'shared/qtip'
