-#Locals: name

- id ||= name.try(:id)
- name ||= name.try(:name)

.antcat_name_picker.ui-corner-all.ui-widget-content.ui-widget
  %table
    %tr
      %td.expand_collapse_icon
        = image_tag 'collapsed.png', alt: ''
      %td
        .display
          = name || '(none)'

        .edit
          - url = '/name_pickers/lookup?picker=true'
          - method = 'get'
          .nested_form.ui-corner-all.ui-widget-content.ui-widget{'data-action' => url, 'data-method' => method}
            = hidden_field_tag 'hidden_id', id
            = hidden_field_tag 'hidden_name', name
            %table
              %tr
                %td
                  %ul.error_messages
              %tr
                %td
                  .buttons
                    = text_field_tag :name, ''
                    = submit_tag 'OK', class: 'ui-priority-primary submit'
                    %input{type: 'button', class: 'ui-priority-secondary cancel', value: 'Cancel'}
                    = image_tag 'ui-anim_basic_16x16.gif', class: 'throbber'
                  .help Type the name, or type characters in the name then choose a name from the drop-down list, or type a new name
