-title 'Users'
-breadcrumb :users

-if user_is_superadmin?
  -content_for :breadcrumbs_right do
    =link_to append_superadmin_icon("New"), new_user_path, class: "btn-normal"

-if user_is_at_least_helper?
  %p
    %span.margin-bottom.logged-in-only-background
      Emails are only visible to logged in helpers and editors.
      =logged_in_only_tooltip_icon user_group: 'helpers/editors'

-if user_is_superadmin?
  %p
    %span.margin-bottom.logged-in-only-background
      Activity and PaperTrail version counts are only visible to superadmins.
      =logged_in_only_tooltip_icon user_group: 'superadmins'

%table.stack
  %tbody
  -@active_users.each do |user|
    %tr
      %td=user.decorate.user_page_link
      %td
        =user.decorate.user_badge
        -if user.superadmin? && user_is_at_least_helper?
          %span.high-priority-label.rounded-badge superadmin
      -if user_is_superadmin?
        %td=link_to "#{user.activities.count}&nbsp;activities".html_safe, activities_path(user_id: user.id)
        %td=link_to "#{user.created_paper_trail_versions.count}&nbsp;PTVs".html_safe, versions_path(whodunnit: user.id)
      %td
        -if user.author
          =link_to 'Author page', user.author, class: 'btn-normal btn-tiny'
      -if user_is_at_least_helper?
        %td=user.email
        %td Reg. #{user.created_at.year}

-if @hidden_users
  %h5.huge-margin-top
    Hidden users
    =logged_in_only_tooltip_icon user_group: 'helpers/editors'
  %table.stack
    %tbody
    -@hidden_users.each do |user|
      %tr{class: ('pale-alert-background' if (user.locked? || user.deleted?))}
        %td=user.decorate.user_page_link
        %td=user.decorate.user_badge
        -if user_is_superadmin?
          %td=link_to "#{user.activities.count}&nbsp;activities".html_safe, activities_path(user_id: user.id)
          %td=link_to "#{user.created_paper_trail_versions.count}&nbsp;PTVs".html_safe, versions_path(whodunnit: user.id)
        %td
          -if user.locked?
            %span.warning-label.rounded-badge locked
          -if user.deleted?
            %span.warning-label.rounded-badge soft-deleted
          -if user.hidden?
            %span.warning-label.rounded-badge hidden
        %td=user.email
        %td Reg. #{user.created_at.year}

-if @deleted_or_locked_users
  %h5.huge-margin-top
    Deleted or locked users
    %small This section is only visible to superadmins.
    =logged_in_only_tooltip_icon user_group: 'superadmins'
  %table.stack.unstriped
    %tbody
    -@deleted_or_locked_users.each do |user|
      %tr{class: ('pale-alert-background' if (user.locked? || user.deleted?))}
        %td=user.decorate.user_page_link
        %td=user.decorate.user_badge
        -if user_is_superadmin?
          %td=link_to "#{user.activities.count}&nbsp;activities".html_safe, activities_path(user_id: user.id)
          %td=link_to "#{user.created_paper_trail_versions.count}&nbsp;PTVs".html_safe, versions_path(whodunnit: user.id)
        %td
          -if user.locked?
            %span.warning-label.rounded-badge locked
          -if user.deleted?
            %span.warning-label.rounded-badge soft-deleted
          -if user.hidden?
            %span.warning-label.rounded-badge hidden
        %td=user.email
        %td Reg. #{user.created_at.year}
