<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Reset Password Token:</strong>
  <%= @user.reset_password_token %>
</p>
<p>
  <strong>Remember Token:</strong>
  <%= @user.remember_token %>
</p>
<p>
  <strong>Remember Created At:</strong>
  <%= @user.remember_created_at %>
</p>
<p>
  <strong>Sign In Count:</strong>
  <%= @user.sign_in_count %>
</p>
<p>
  <strong>Current Sign In At:</strong>
  <%= @user.current_sign_in_at %>
</p>
<p>
  <strong>Last Sign In At:</strong>
  <%= @user.last_sign_in_at %>
</p>
<p>
  <strong>Current Sign In Ip:</strong>
  <%= @user.current_sign_in_ip %>
</p>
<p>
  <strong>Last Sign In Ip:</strong>
  <%= @user.last_sign_in_ip %>
</p>
<p>
  <strong>Invitation Token:</strong>
  <%= @user.invitation_token %>
</p>
<p>
  <strong>Invitation Sent At:</strong>
  <%= @user.invitation_sent_at %>
</p>
<p>
  <strong>Reset Password Sent At:</strong>
  <%= @user.reset_password_sent_at %>
</p>
<p>
  <strong>Can Edit Catalog:</strong>
  <%= @user.can_edit_catalog %>
</p>
<p>
  <strong>Invitation Accepted At:</strong>
  <%= @user.invitation_accepted_at %>
</p>
<p>
  <strong>Invitation Limit:</strong>
  <%= @user.invitation_limit %>
</p>
<p>
  <strong>Invited By:</strong>
  <%= @user.invited_by_id %>
</p>
<p>
  <strong>Invited By Type:</strong>
  <%= @user.invited_by_type %>
</p>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", users_path %>
</p>
