- @title = @taxon.name.epithet

- content_for :head do
  = javascript_include_tag  'widgets/panel'
  = javascript_include_tag  'widgets/form', 'widgets/ajax_form', 'widgets/nested_form'
  = javascript_include_tag  'widgets/name_field'
  = javascript_include_tag  'convert_to_subspecies'

- content_for :page_contents do
  = form_tag  "/taxa/#{@taxon.id}/convert_to_subspecies", class: 'convert_to_subspecies_form ui-widget' do
    = render 'shared/errors_for', resource: @taxon
    .fields_section.section.ui-widget-content.ui-corner-all
      .species_section.section.ui-widget-content.ui-conrner-all
        %table

          %tr
            %td.caption.top_aligned= label_tag :taxon, 'Convert species'
            %td= @taxon.name.try :name

          %tr
            %td.caption.top_aligned= label_tag :new_species, 'to be a subspecies of'
            %td
              #new_species_id_field
                = hidden_field_tag 'new_species_id', @new_species.try(:id)
                = render 'name_fields/panel', name_string: @new_species.try(:name).try(:name), default_name_string: @default_name_string

      .buttons_section
        .left_buttons
          = submit_tag 'OK', class: 'submit'
          %input{type: 'button', class: 'cancel', value: 'Cancel'}
