-page_title "#{@protonym.name.name} - Protonyms"
-breadcrumb :protonym, @protonym

-content_for :breadcrumbs_right do
  -if user_is_at_least_helper?
    =link_to 'Edit', edit_protonym_path(@protonym), class: "btn-default"
  -if current_user
    =link_to "History", protonym_history_path(@protonym), class: "btn-default"
    =link_to "What Links Here", protonym_what_links_here_path(@protonym), class: "btn-default"
  -if user_is_at_least_helper?
    -if !@protonym.taxa.exists?
      =link_to "Delete", protonym_path(@protonym), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-warning"

  -if current_user
    =render DropdownComponent.new("More") do
      %ul.no-bullet.leading-7
        -if user_is_at_least_helper?
          %li=link_to "Move items", new_protonym_move_items_path(@protonym), class: "btn-default"
        %li=link_to "Soft validations", protonym_soft_validations_path(@protonym), class: "btn-default"
        %li=activities_link_for_trackable @protonym

-if Settings.catalog.show_failed_soft_validations
  -if current_user && @protonym.soft_validations.failed?
    .row.mb-8
      .medium-9.columns
        .callout-warning.text-sm
          %h6 Issues (#{link_to("see more", protonym_soft_validations_path(@protonym))})
          =render 'shared/failed_soft_validations', soft_validations: @protonym.soft_validations

.row.mb-8
  .small-9.columns
    %h5
      Protonym:
      =@protonym.name_with_fossil
      -if @protonym.sic?
        [sic]
      -if @protonym.nomen_nudum?
        %i
          =ndash
          nomen nudum
      -if current_user
        .float-right=link_to "Name record ##{@protonym.name.id}", name_path(@protonym.name), class: 'btn-default'
    %table.table-unstriped
      %tbody
        %tr
          %th Authorship
          %td
            =succeed ':' do
              =@protonym.authorship_reference.decorate.link_to_reference
            =@protonym.authorship.pages

        -if @protonym.species_group_name?
          -if @protonym.forms?
            %tr
              %th Forms
              %td=@protonym.forms
          -if @protonym.bioregion?
            %tr
              %th Bioregion
              %td=@protonym.bioregion
          -if @protonym.locality?
            %tr
              %th Locality
              %td=@protonym.decorate.format_locality

        -if @protonym.ichnotaxon?
          %tr
            %th Ichnotaxon
            %td Yes

        -if (type_name = @protonym.type_name)
          %tr
            %th Type name
            %td
              -decorated_type_name = type_name.decorate
              =decorated_type_name.format_rank
              =CatalogFormatter.link_to_taxon(type_name.taxon) + decorated_type_name.compact_taxon_status + Detax[decorated_type_name.format_fixation_method]

        -if @protonym.etymology_taxt?
          %tr
            %th Etymology
            %td=Detax[@protonym.etymology_taxt]

        -if @protonym.primary_type_information_taxt?
          %tr
            %th Primary type information
            %td=::Types::FormatTypeField[@protonym.primary_type_information_taxt]
        -if @protonym.secondary_type_information_taxt?
          %tr
            %th Secondary type information
            %td=::Types::FormatTypeField[@protonym.secondary_type_information_taxt]
        -if @protonym.type_notes_taxt?
          %tr
            %th Type notes
            %td=::Types::FormatTypeField[@protonym.type_notes_taxt]
        -if @protonym.notes_taxt?
          %tr
            %th Notes
            %td=Detax[@protonym.notes_taxt]

  -if current_user
    .medium-3.columns
      .bg-logged-in-only.callout.border-0.text-sm
        %h6
          Protonym:
          =@protonym.name.epithet_html

        .mb-2
          =copy_to_clipboard_button Taxt.pro(@protonym.id), "pro #{@protonym.id}"
          =copy_to_clipboard_button @protonym.id

        =render 'protonyms/shared/additional_data_for_editors', protonym: @protonym

        %ul.no-bullet
          -if user_is_at_least_helper?
            %li.mb-2=link_to "Add history item", new_protonym_history_item_path(@protonym, **current_page_redirect_back_url), class: "btn-default"
            -if @protonym.history_items.size > 1
              %li.mb-2=link_to "Reorder history items", protonym_reorder_history_items_path(@protonym), class: "btn-default"

        %ul.no-bullet.text-sm
          %li Created at: #{l @protonym.created_at, format: :ymd}
          %li Updated at: #{l @protonym.updated_at, format: :ymd}

      -# TODO: Pass gender from protonym once it has been moved from `Name`s belonging to taxa.
      =render 'protonyms/shared/etymology_and_gender', protonym: @protonym, taxon: nil

-if @protonym.taxa.present?
  .row.mb-8
    .small-12.columns
      %h5 Taxa belonging to this protonym
      %table.table-striped
        -TaxonQuery.new(@protonym.taxa.order_by_name).with_common_includes_and_current_taxon_includes.each do |taxon|
          %tr
            %td=CatalogFormatter.link_to_taxon(taxon)
            %td=taxon.rank.capitalize
            %td
              =taxon.status.capitalize
              -unless taxon.status.in?(Taxa::ExpandedStatus::SELF_STATUSES)
                %br
                %small=taxon.decorate.expanded_status
            %td
              -if taxon.original_combination?
                Original combination
                =antcat_icon 'check'
            -if current_user
              %td
                =taxon.decorate.link_to_antwiki
                %br
                =link_to "Show children", taxon_children_path(taxon), class: "btn-default"

-if current_user
  -content_for :javascripts do
    =javascript_include_tag 'markdown_and_friends', 'taxt_editor'
  =render "shared/default_reference"
  =render 'protonyms/quick_edit_history_items', protonym: @protonym

-if current_user
  -if @protonym.history_items_as_object.present?
    .row.mt-8.mb-8
      .small-12.columns
        .bg-logged-in-only.callout.border-0.mb-16
          %h5 History items as object protonym
          %table.table-striped
            %thead
              %th History item
              %th Protonym owner / terminal taxa
              %th Taxt
            -@protonym.history_items_as_object.each do |history_item|
              %tr
                %td=link_to history_item.id, history_item
                %td
                  =history_item.protonym.decorate.link_to_protonym
                  %br
                  =CatalogFormatter.link_to_taxa(history_item.terminal_taxa)
                %td=Detax[history_item.to_taxt]
