#login
  .link
    - if user_signed_in?
      = link_to current_user.email, edit_user_registration_path
      |
      = link_to 'Logout', destroy_user_session_path
    - else
      = link_to 'Login', '#', :class => :link

  .form
    - form_tag user_session_path do
      Email
      = text_field_tag "user[email]"
      Password
      = password_field_tag "user[password]"
      = submit_tag "Go &#187;"
      %br
      %span.small
        = check_box_tag "user[remember_me]", "1", true
        Remember me
        |
        = link_to 'Cancel', '#', :class => :link
