- content_for :head do
  = javascript_include_tag 'taxa_autocompletion'

= form_tag catalog_search_path, method: :get do
  .search
    Search for name
    = search_selector params[:st]
    = text_field_tag 'qq', params[:qq], class: 'typeahead', placeholder: "Search..."
    = submit_tag  'Go', class: 'submit'
    = image_tag 'ui-anim_basic_16x16.gif', class: 'throbber'
