%table.images
  %tr
    %td
      = link_to 'http://www.calacademy.org/', target: '_blank' do
        = image_tag 'calacademy.gif', style: "height: 40px"
    %td.spacer
    %td
      = link_to 'http://www.nsf.gov/', target: '_blank' do
        = image_tag 'nsf1.gif', style: "height: 50px", title: "Supported in part by NSF Award DBI-0642321"
    %td.spacer
    %td
      = link_to 'http://rubyonrails.org/', target: '_blank' do
        = image_tag 'rails.png', style: "height: 40px"
    %td.spacer
    %td
      = link_to 'http://antweb.org', target: '_blank' do
        = image_tag 'antweb_logo_tiny.png', style: "height: 20px"
    %td.spacer
    %td
      = link_to 'http://hol.osu.edu/', target: '_blank' do
        = image_tag 'hol.png', style: "height: 20px"
    %td.spacer
    %td
      = link_to 'http://antbase.org/', target: '_blank' do
        = image_tag 'antbase.org.png', style: "height: 20px"
    %td.spacer
    %td
      = link_to 'http://www.zotero.org/', target: '_blank' do
        = image_tag 'zotero_logo_tiny.png', style: "height: 20px"
