.logo
  = link_to root_path do
    = image_tag 'antcat_logo.png', :alt => "AntCat"

.image
  = image_tag 'site_header_ant_5.png', :name => "imgs"

.navigation
  = render 'shared/login'
  = link_to('Catalog', index_catalog_path) + '| ' + |
    link_to('References', references_path) + '| ' + |
    link_to('Authors', authors_path) + '| ' + |
    link_to('Bolton References', bolton_references_path) + '| ' + |
    link_to('AntWeb', "http://www.antweb.org/") |
