-if user_is_at_least_helper?
  -content_for :javascripts do
    =javascript_include_tag 'markdown_and_friends'
  =render "shared/default_reference"

/--- First line ---
.text-sm
  %span.text-lg.font-bold.mr-1=Taxa::LinkEachEpithet[taxon]
  =taxon.author_citation
  =taxon.decorate.expanded_status
  =taxon.name.gender

/--- Second line ---
%div
  %span.font-bold.mr-1{data: { testid: 'catalog-protonym-name' }}
    =protonym.decorate.link_to_protonym
  -if protonym.sic?
    [sic]
  =succeed ':' do
    =CatalogFormatter.link_to_taxt_reference(taxon.authorship_reference)
  =protonym.decorate.format_pages_and_forms
  =Detax[protonym.notes_taxt]
  =add_period_if_necessary(protonym.decorate.format_locality)
  =add_period_if_necessary(protonym.bioregion)

  -if (protonym_type_name = protonym.type_name)
    -decorated_protonym_type_name = protonym_type_name.decorate
    =decorated_protonym_type_name.format_rank
    =CatalogFormatter.link_to_taxon(protonym_type_name.taxon) + decorated_protonym_type_name.compact_taxon_status + Detax[decorated_protonym_type_name.format_fixation_method]

/--- Type names ---
-if current_user
  -if taxon.type_names.present?
    .bg-logged-in-only.callout.border-0.mt-8.mb-8
      %ul.no-bullet
        -taxon.type_names.each do |as_type_name|
          %li
            -decorated_as_type_name = as_type_name.decorate
            =decorated_as_type_name.format_just_rank
            of
            =as_type_name.protonym.decorate.link_to_protonym_with_author_citation + Detax[decorated_as_type_name.format_fixation_method]

/--- Type information ---
.text-sm.mb-4
  -if protonym.primary_type_information_taxt?
    %strong Primary type information:
    =::Types::FormatTypeField[protonym.primary_type_information_taxt]
  -if protonym.secondary_type_information_taxt?
    %strong Secondary type information:
    =::Types::FormatTypeField[protonym.secondary_type_information_taxt]
  -if protonym.type_notes_taxt?
    %strong Type notes:
    =::Types::FormatTypeField[protonym.type_notes_taxt]

/--- Replacement names for ---
-if current_user && taxon.replacement_name_for.present?
  .bg-logged-in-only.callout.border-0
    %strong Replacement name for
    -taxon.replacement_name_for.each do |replaced_name|
      =CatalogFormatter.link_to_taxon(replaced_name)
      =replaced_name.author_citation
    =info_tooltip_icon "Via 'taxa.homonym_replaced_by_id'"

/--- History items ---
/--- History items: As object ---
-if current_user
  -if taxon.history_items_as_object_for_taxon.present?
    -history_presenter = HistoryPresenter.new(taxon.history_items_as_object_for_taxon, :object)
    .bg-logged-in-only.callout.border-0.mt-8.mb-8
      %strong History items as object (mirrored items)
      %ul
        -history_presenter.grouped_items.each do |grouped_item|
          %li=Detax[grouped_item.taxt(:object)]

/--- History items: Grouped items ---
-if taxon.history_items_for_taxon.present?
  -history_presenter = HistoryPresenter.new(taxon.history_items_for_taxon)

  -if current_user
    %h6.font-bold.mt-8
      Taxonomic history
      =info_tooltip_icon 'Automatically sorted and grouped items, logged-in version.'

    %table.table-striped.mb-16
      %tbody
        -history_presenter.grouped_items.each do |grouped_item|
          %tr
            %td
              -if grouped_item.grouped?
                %p=Detax[grouped_item.taxt]
                %p
                  -# TODO: Check `grouped_item.group_key.join('_')` because
                  -# `group_key` = `["JuniorSynonymOf", "object_protonym_id", 156572]`.
                  %button.btn-neutral.mr-4{"data-action" => "toggler#toggle", "data-toggler-target" => "grouped-#{grouped_item.group_key.join('_')}"} Show/hide grouped
                  %small.font-bold.text-gray-500 #{grouped_item.underscored_type} x #{grouped_item.number_of_items}

                %ul.compact-list.no-bullet.mb-8.hidden{data: { toggler_name: "grouped-#{grouped_item.group_key.join('_')}" }}
                  -grouped_item.items.each do |history_item|
                    %li.pl-8
                      -if user_is_at_least_helper?
                        =render 'taxt_editors/history_item_taxt_editor', history_item: history_item
                      -else
                        =Detax[history_item.to_taxt]
              -else
                -history_item = grouped_item.items.first
                -if user_is_at_least_helper?
                  =render 'taxt_editors/history_item_taxt_editor', history_item: history_item
                -else
                  %p=Detax[history_item.to_taxt]
  -else
    %ul.mb-4
      -history_presenter.grouped_items.each do |grouped_item|
        %li=Detax[grouped_item.taxt]

/--- History items: Not shown items (from protonym) ---
-if current_user && !Status.display_history_items?(taxon.status)
  -if taxon.history_items_for_taxon_including_hidden.present?
    .bg-logged-in-only.callout.border-0.text-sm.mt-8.mb-8
      %h6.font-bold Protonym history items not shown on this page
      %p
        History items in this bluebox are shown on catalog pages for the protonym's terminal taxon:
        -taxon.protonym.terminal_taxa.each do |terminal_taxon|
          =CatalogFormatter.link_to_taxon(terminal_taxon)
      %ul
        -taxon.history_items_for_taxon_including_hidden.each do |history_item|
          %li=Detax[history_item.to_taxt]

/--- Junior synonyms ---
-if taxon.junior_synonyms.exists?
  -name_of_obsoletes = taxon.decorate.name_of_obsoletes
  %h6.font-bold.mt-8 Junior synonyms
  %ul.compact-list.no-bullet.mb-8
    -TaxonQuery.new(taxon.junior_synonyms.order_by_name).with_common_includes.each do |synonym|
      %li
        =CatalogFormatter.link_to_taxon(synonym)
        =synonym.author_citation
        -if synonym.obsolete_combinations.present?
          .pl-8
            Obsolete #{name_of_obsoletes}(s):
            =safe_join synonym.obsolete_combinations.map { |obsolete| CatalogFormatter.link_to_taxon(obsolete) }, ', '

/--- Obsolete combinations ---
-if taxon.obsolete_combinations.exists?
  %h6.font-bold.mt-8="Obsolete #{taxon.decorate.name_of_obsoletes}s"
  %ul.compact-list.no-bullet.mb-8
    -taxon.obsolete_combinations.order_by_name.includes(:name).each do |obsolete_combination|
      %li=CatalogFormatter.link_to_taxon(obsolete_combination)

/--- Rank-specific ---
.mb-4
  -Taxa::ChildList[taxon].each do |child_list|
    %div
      %span.font-bold #{child_list[:label]}:
      =child_list[:children].map { |child| CatalogFormatter.link_to_taxon(child) }.join(', ').html_safe

  -if taxon.is_a?(Genus)
    =render 'catalog/_show/rank_specific/genus', taxon: taxon
  -if taxon.is_a?(Subgenus)
    =render 'catalog/_show/rank_specific/subgenus', taxon: taxon
  -if taxon.is_a?(Species)
    =render 'catalog/_show/rank_specific/species', taxon: taxon
  -if taxon.is_a?(Subspecies)
    =render 'catalog/_show/rank_specific/subspecies', taxon: taxon

/--- Reference sections ---
-if catalog_presenter.formicidae_landing_page?
  %br
  =link_to "Formicidae family references", catalog_path(taxon)
-else
  -if taxon.class.name.in?(ReferenceSection::TAXON_TYPES_WITH_REFERENCE_SECTIONS) && taxon.reference_sections.present?
    %div
      -taxon.reference_sections.each do |reference_section|
        .mb-4{class: "group/reference-sections-item"}
          -if reference_section.title_taxt?
            %h6.font-bold=Detax[reference_section.title_taxt]
          -if reference_section.subtitle_taxt?
            %h6.font-bold=Detax[reference_section.subtitle_taxt]
          -if reference_section.references_taxt?
            %p=Detax[reference_section.references_taxt]

          -if current_user
            %span.hidden{class: "group-hover/reference-sections-item:inline"}
              =link_to "Show", reference_section, class: "btn-default"
              -if user_is_at_least_helper?
                =link_to "Edit", edit_reference_section_path(reference_section), class: "btn-default"
              =link_to "History", reference_section_history_path(reference_section), class: "btn-default"

/--- Citations ---
-unless catalog_presenter.formicidae_landing_page?
  %h6.font-bold.mt-20 Citations
  %ul.compact-list
    -catalog_presenter.collected_references.each do |reference|
      -decorated_reference = reference.decorate
      %li{class: "group/citations-reference"}
        =decorated_reference.expanded_reference
        =decorated_reference.format_document_links

        -if current_user
          .hidden{class: "group-hover/citations-reference:inline"}
            -if user_is_at_least_helper?
              =link_to "Edit", edit_reference_path(reference), class: "btn-default"
            =copy_to_clipboard_button Taxt.ref(reference.id), "ref #{reference.id}"
            =copy_to_clipboard_button reference.id
