-if user_is_at_least_helper?
  -content_for :javascripts do
    =javascript_include_tag 'reference_select'
    =javascript_include_tag 'taxon_select'
    =javascript_include_tag 'protonym_select'
    =javascript_include_tag 'markdown_and_friends', 'taxt_editor'
  =render "shared/default_reference"

#nomen-synopsis
  %span.name=Taxa::LinkEachEpithet[taxon]
  =taxon.author_citation
  =taxon.decorate.expanded_status
  =taxon.name.gender

#protonym-synopsis
  %span.name
    =protonym.decorate.link_to_protonym
  -if protonym.sic?
    [sic]
  =succeed ':' do
    =taxon.authorship_reference.decorate.expandable_reference
  =protonym.decorate.format_pages_and_forms
  =Detax[protonym.notes_taxt]
  =protonym.decorate.format_locality
  =add_period_if_necessary(protonym.biogeographic_region)

  -if (protonym_type_name = protonym.type_name)
    -protonym_type_name_decorated = protonym_type_name.decorate
    =protonym_type_name_decorated.format_rank
    =CatalogFormatter.link_to_taxon(protonym_type_name.taxon) + protonym_type_name_decorated.compact_taxon_status + Detax[protonym_type_name_decorated.format_fixation_method]

-if current_user
  -if taxon.type_names.present?
    .callout.no-border-callout.logged-in-only-background.margin-top.margin-bottom
      %ul.no-bullet
        -taxon.type_names.each do |as_type_name|
          %li
            -as_type_name_decorated = as_type_name.decorate
            =as_type_name_decorated.format_just_rank
            of
            =as_type_name.protonym.decorate.link_to_protonym_with_author_citation + Detax[as_type_name_decorated.format_fixation_method]

#type-fields
  -if protonym.primary_type_information_taxt?
    %strong Primary type information:
    =::Types::FormatTypeField[protonym.primary_type_information_taxt]

  -if protonym.secondary_type_information_taxt?
    %strong Secondary type information:
    =::Types::FormatTypeField[protonym.secondary_type_information_taxt]

  -if protonym.type_notes_taxt?
    %strong Type notes:
    =::Types::FormatTypeField[protonym.type_notes_taxt]

-# Grouped items.
-if taxon.history_items_for_taxon.present?
  -history_presenter = HistoryPresenter.new(taxon.history_items_for_taxon)

  -if current_user
    %h6.margin-top
      Taxonomic history
      =info_tooltip_icon 'Automatically sorted and grouped items, logged-in version.'

    %table#history-table.table.huge-margin-bottom
      %tbody
        -history_presenter.grouped_items.each do |grouped_item|
          %tr
            %td
              -if grouped_item.grouped?
                %p=Detax[grouped_item.taxt]
                %p
                  =link_to "Show/hide grouped", "#", data: { show_hide_toggler_for: "grouped-#{grouped_item.group_key}" }, class: "btn-tiny btn-nodanger"

                  %span.spacer-1rem
                  %small.logged-in-only-gray-bold-notice.right-margin #{grouped_item.underscored_type} x #{grouped_item.number_of_items}

                  -if grouped_item.relational?
                    %span.show-on-hover=link_to "Add another", new_protonym_history_item_path(grouped_item.protonym, **grouped_item.params_for_add_another_of_same_type, **current_page_redirect_back_url), class: "btn-normal btn-very-tiny"

                %ul.compact-list.no-bullet.margin-bottom{data: { show_hide_toggable_id: "grouped-#{grouped_item.group_key}" }}
                  -grouped_item.items.each do |history_item|
                    %li.padding-left-2rem
                      =history_item.decorate.rank_specific_badge if history_item.rank?

                      -if user_is_at_least_helper?
                        =render 'history_items/catalog_taxt_editor_template', history_item: history_item
                      -else
                        =Detax[history_item.to_taxt]

              -else
                -history_item = grouped_item.items.first
                =history_item.decorate.rank_specific_badge if history_item.rank?

                -if user_is_at_least_helper?
                  =render 'history_items/catalog_taxt_editor_template', history_item: history_item
                -else
                  %p=Detax[history_item.to_taxt]

  -else
    %ul#history.small-margin-bottom
      -history_presenter.grouped_items.each do |grouped_item|
        %li
          =Detax[grouped_item.taxt]

-# Ungrouped items, repeated to make it easier to edit.
-if current_user
  -if taxon.history_items_for_taxon.present?
    .callout.no-border-callout.logged-in-only-background.huge-margin-bottom
      %h6
        Taxonomic history (ungrouped)
        =info_tooltip_icon "Same items as above, but ungrouped and sorted by 'position' (repeated here to make it easier to edit)."
        =link_to "Show/hide ungrouped", "#", data: { show_hide_toggler_for: "ungrouped-history" }, class: "btn-tiny btn-nodanger"

      %ul#history.small-margin-bottom{data: { show_hide_toggable_id: "ungrouped-history" }}
        -taxon.history_items_for_taxon.each do |history_item|
          %li
            =history_item.decorate.rank_specific_badge if history_item.rank?

            -if user_is_at_least_helper?
              =render 'history_items/catalog_taxt_editor_template', history_item: history_item
            -else
              =add_period_if_necessary Detax[history_item.to_taxt]

-if current_user && !Status.display_history_items?(taxon.status)
  -if taxon.history_items_for_taxon_including_hidden.present?
    .additional-editor-data.callout.no-border-callout.logged-in-only-background.margin-top.margin-bottom
      %h6 Protonym history items not shown on this page

      %p
        History items in this bluebox are shown on catalog pages for the protonym's terminal taxon:
        -taxon.protonym.terminal_taxa.each do |terminal_taxon|
          =CatalogFormatter.link_to_taxon(terminal_taxon)

      %ul#history.small-margin-bottom
        -taxon.history_items_for_taxon_including_hidden.each do |history_item|
          %li
            =history_item.decorate.rank_specific_badge if history_item.rank?

            -if user_is_at_least_helper?
              =render 'history_items/catalog_taxt_editor_template', history_item: history_item
            -else
              =add_period_if_necessary Detax[history_item.to_taxt]

-if taxon.junior_synonyms.exists?
  -name_of_obsoletes = taxon.decorate.name_of_obsoletes
  %h6.margin-top Junior synonyms
  %ul.compact-list.no-bullet.margin-bottom
    -TaxonQuery.new(taxon.junior_synonyms.order_by_name).with_common_includes.each do |synonym|
      %li
        =CatalogFormatter.link_to_taxon(synonym)
        =synonym.author_citation
        -if synonym.obsolete_combinations.present?
          .padding-left-2rem
            Obsolete #{name_of_obsoletes}(s):
            =safe_join synonym.obsolete_combinations.map { |obsolete| CatalogFormatter.link_to_taxon(obsolete) }, ', '

-if taxon.obsolete_combinations.exists?
  %h6.margin-top="Obsolete #{taxon.decorate.name_of_obsoletes}s"
  %ul.compact-list.no-bullet.margin-bottom
    -taxon.obsolete_combinations.order_by_name.includes(:name).each do |obsolete_combination|
      %li
        =CatalogFormatter.link_to_taxon(obsolete_combination)

#child-lists.small-margin-bottom
  =render 'catalog/_show/child_lists', taxon: taxon
  -if taxon.is_a?(Genus)
    =render 'catalog/_show/rank_specific/genus', taxon: taxon
  -if taxon.is_a?(Species)
    =render 'catalog/_show/rank_specific/species', taxon: taxon
  -if taxon.is_a?(Subspecies)
    =render 'catalog/_show/rank_specific/subspecies', taxon: taxon

-if current_user && taxon.is_a?(Subgenus) && taxon.species.exists?
  =render 'catalog/_show/logged_in_only/species_in_subgenus', taxon: taxon

-if catalog_presenter.formicidae_landing_page?
  %br
  =link_to "Formicidae family references", catalog_path(taxon)
-else
  -if taxon.reference_sections.present?
    #reference-sections
      -taxon.reference_sections.each do |reference_section|
        .section.small-margin-bottom
          -if reference_section.title_taxt?
            %h6=Detax[reference_section.title_taxt]

          -if reference_section.subtitle_taxt?
            %h7=Detax[reference_section.subtitle_taxt]

          -if reference_section.references_taxt?
            %p=Detax[reference_section.references_taxt]

          -if current_user
            %span.show-on-hover
              =link_to "Show", reference_section, class: "btn-normal btn-very-tiny"
              -if user_is_at_least_helper?
                =link_to "Edit", edit_reference_section_path(reference_section), class: "btn-normal btn-very-tiny"
              =link_to "History", reference_section_history_path(reference_section), class: "btn-normal btn-very-tiny"

-unless catalog_presenter.formicidae_landing_page?
  %h6.huge-margin-top Citations
  %ul#citations.compact-list
    -catalog_presenter.collected_references.each do |reference|
      -decorated_reference = reference.decorate
      %li
        =decorated_reference.expanded_reference
        =decorated_reference.format_document_links
        -# NOTE: Useful for editors.
        .show-on-hover=reference.id
