- @title = 'Taxatry'

- content_for :head do
  = javascript_include_tag 'taxatry'
  = stylesheet_link_tag 'taxatry'

- content_for :page_header do
  #navigation_bar
    - form_tag taxatry_path, :method => 'get', :id => 'search_form' do
      .actions
        = link_to 'References', references_path
      .search
        Search for name
        = select_tag :search_type, options_for_select(['matching', 'beginning with', 'containing'], params[:search_type] || 'beginning with')
        = hidden_field_tag "id", params[:id]
        = text_field_tag "q", params[:q]
        = submit_tag  "Go"
        - if @search_results.present? && @search_results.size > 1
          = submit_tag "Clear"
        = @search_results_message
  .title
    %h2.left An Online Catalog of the Ants of the World
    .right
      %h3
        by Barry Bolton
        %span.date 3 Jan 2011
    .clear

= render :partial => 'search_results', :locals => {:search_results => @search_results, :taxon => @taxon}

%span.taxon_header
  = @taxon_header_name
%span
  = @taxon_header_status

- if @taxonomic_history
  .taxonomic_history
    = @taxonomic_history
  %hr

.browser
  = render :partial => 'rank', :locals => {:items => @subfamilies, :selected_item => @selected_subfamily, :header => 'Subfamilies', :q => params[:q], :search_type => params[:search_type]}
  = render :partial => 'rank', :locals => {:items => @genera, :selected_item => @selected_genus, :header => 'Genera', :q => params[:q], :search_type => params[:search_type]}
  = render :partial => 'rank', :locals => {:items => @species, :selected_item => @selected_species, :header => 'Species', :q => params[:q], :search_type => params[:search_type]}

.clear
