- @title = 'Taxatry'

- content_for :head do
  = javascript_include_tag 'taxatry'
  = stylesheet_link_tag 'taxatry'

- content_for :header do
  .left
    %h1 Taxatry

      
.taxonomic_history
  = @taxonomic_history

%table.browser
  %tr

    = render :partial => 'rank', :locals => {:items => @subfamilies, :selected_item => @selected_subfamily, :table_class => 'subfamilies'}

    = render :partial => 'rank', :locals => {:items => @genera, :selected_item => @selected_genus, :table_class => 'genera'}

    = render :partial => 'rank', :locals => {:items => @species, :selected_item => @selected_species, :table_class => 'species'}

%div.clear
