- @title = 'Taxatry'

- content_for :head do
  = javascript_include_tag 'taxatry'

- content_for :header do
  .left
    %h1 Taxatry

%style
  :sass
    div.taxon
      float: left
      width: 150px
      a
        color: red
    div.synonym
      a
        color: black
    div.unidentifiable
      a
        color: green
    div.unavailable
      a
        color: purple
    div.homonym
      a
        color: brown

    div.subfamily, div.genus
      width: 150px
    .selected
      background: yellow !important

    .taxonomic_history
      max-height: 200px
      overflow: auto
      position: relative
      text-align: left
      
%div{:style => 'width: 500px'}
  .taxonomic_history{:style => 'width: 400px'}
    = @taxonomic_history

%hr

%table.subfamilies
  - @subfamilies.unshift 'all'
  - rows = @subfamilies.snake 6
  - rows.each do |row|
    %tr
      - row.each do |subfamily|
        %td
          - if subfamily == 'all'
            = all_of_a_taxon_link :subfamily, @selected_subfamily
          - elsif subfamily
            = taxon_link :subfamily, @selected_subfamily, subfamily

- if @genera
  %hr
    %table.genera
      - rows = @genera.snake 6
      - rows.each do |row|
        %tr
          - row.each do |genus|
            %td
              - if genus == 'all'
                = all_of_a_taxon_link :genus, @selected_genus
              - elsif genus
                = genus_or_species_link :genus, @selected_genus, genus, :subfamily => @selected_subfamily

- if @species
  %hr
    %table.species
      - rows = @species.snake 6
      - rows.each do |row|
        %tr
          - row.each do |species|
            %td 
              - if species
                = genus_or_species_link :species, @selected_species, species, :subfamily => @selected_subfamily, :genus => @selected_genus
  %div.clear
