- @title = 'Taxatry'

- content_for :head do
  = javascript_include_tag 'taxatry'

- content_for :header do
  .left
    %h1 Taxatry

%style
  :sass
    div.taxon
      float: left
      width: 150px
      a
        color: red
    div.synonym
      a
        color: black
    div.unidentifiable
      a
        color: green
    div.unavailable
      a
        color: purple
    div.homonym
      a
        color: brown

    div.subfamily, div.genus
      width: 150px
    .selected
      background: yellow !important

    .taxonomic_history
      height: 100px
      overflow: auto
      position: relative
      text-align: left
    
    .rank_header
      text-align: left
      width: 33%
      font-size: 1.5em
      
.taxonomic_history
  = @taxonomic_history

%hr

%table{:style => 'width: 100%'}
  %tr
    %td.rank_header Subfamily
    %td.rank_header Genus
    %td.rank_header Species
  %tr
    %td
      %table
        - @subfamilies.unshift 'all'
        - @subfamilies.each do |subfamily|
          %tr
            %td
              - if subfamily == 'all'
                = all_of_a_taxon_link :subfamily, @selected_subfamily
              - elsif subfamily
                = taxon_link :subfamily, @selected_subfamily, subfamily
    %td
      - if @genera
        %table
          - @genera.each do |genus|
            %tr
              %td
                - if genus == 'all'
                  = all_of_a_taxon_link :genus, @selected_genus
                - elsif genus
                  = genus_or_species_link :genus, @selected_genus, genus, :subfamily => @selected_subfamily
    %td
      - if @species
        %table
          - @species.each do |species|
            %tr
              %td= genus_or_species_link :species, @selected_species, species, :subfamily => @selected_subfamily, :genus => @selected_genus

%div.clear
