- @title = 'Taxatry'

- content_for :head do
  = javascript_include_tag 'taxatry'

- content_for :header do
  .left
    %h1 Taxatry

%style
  :sass
    div.taxon
      float: left
      width: 130px
    .selected
      background: yellow !important

%div
  = label_tag :show_tribes, 'Show tribes?'
  = check_box_tag :show_tribes, '1', @show_tribes
  %hr

%div.subfamilies
  = all_of_a_taxon_link :subfamily, @selected_subfamily
  - @subfamilies.each do |subfamily|
    = taxon_link :subfamily, @selected_subfamily, subfamily
  %div.clear

- if @tribes
  %div.tribes
    %hr
      - @tribes.each do |tribe|
        = taxon_link :tribe, @selected_tribe, tribe, :subfamily => @selected_subfamily
    %div.clear

- if @genera
  %div.genera
    %hr
      - @genera.each do |genus|
        = genus_or_species_link :genus, @selected_genus, genus, :subfamily => @selected_subfamily, :tribe => @selected_tribe
  %div.clear
