- @title = 'Changes'

- content_for :page_contents do


  .changes_float_container
    .changes_type_menu.left
      Show:
      = ([link_to('All', changes_path)] + change_item_types.map {|type| link_to(type == 'Taxon' ? 'Taxa' : type.pluralize, changes_path(type: type))}).join(' | ').html_safe
    .changes_feed.right
      = link_to changes_path(format: 'atom') do
        Changes feed
        = image_tag 'rss-icon.png'
    .clear

  %table.changes_table
    %tbody
      - if @versions.any?
        - @versions.each do |version|
          = render 'version', version: version
      - else
        %tr
          %td{rowspan: '2'} &mdash; No changes found &mdash;
    %tfoot
      %tr
        %td{colspan: '2'}
          = will_paginate @versions
