-#Locals: taxa, search_results_message

.results_section
  .results_header
    .left.results_message
      = search_results_message
    .left.buttons
      .download_button
        = button 'Download', nil, 'data-location' => "/advanced_search.csv?#{hash_to_params_string(request.parameters)}"
      .throbber= image_tag 'ui-anim_basic_16x16.gif', id: 'throbber', class: 'throbber'
    .clear

  .results_items
    - if taxa
      - if taxa && taxa.count > 0
        %hr
        - for taxon in taxa
          = render 'result', taxon: taxon
