.search_section
  = form_tag advanced_search_path, method: :get do
    %table.table_find
      %tr
        %td.find
          Find
          = select_tag :rank, rank_options_for_select(params[:rank])
        %td
          described by
          = text_field_tag :author_name, params[:author_name]
        %td
          in the year
          = text_field_tag :year, params[:year]

    %table
      %tr
        %td.label
          where
          %b locality
          contains
        %td= text_field_tag :locality, params[:locality]

      %tr
        %td.label
          where
          %b verbatim type locality
          contains
        %td= text_field_tag :verbatim_type_locality, params[:verbatim_type_locality]

      %tr
        %td.label
          where
          %b type specimen repository
          contains
        %td= text_field_tag :type_specimen_repository, params[:type_specimen_repository]

      %tr
        %td.label
          where
          %b type specimen code
          contains
        %td= text_field_tag :type_specimen_code, params[:type_specimen_code]

      %tr
        %td.label
          where
          %b biogeographic region
          is
        %td= select_tag :biogeographic_region, biogeographic_region_options_for_select(params[:biogeographic_region], 'Any', 'None')

      %tr
        %td.label
          where
          %b forms
          contains
        %td= text_field_tag :forms, params[:forms]

      %tr
        %td.label
          where
          %b genus
          contains
        %td= text_field_tag :genus, params[:genus]


      %tr
        %td.label= label_tag 'Valid only?'
        %td= check_box_tag :valid_only

      %tr
        %td
        %td
          =button_tag type: 'submit', class: 'btn-search has-spinner' do
            =spinner_icon + "Go"
