.search_section
  = form_tag advanced_search_path, method: :get do
    Find
    = select_tag :rank, options_for_select(['Species', 'Genus'], params['rank'])
    described in the year
    = text_field_tag :year, params[:year]
    = submit_tag "Go"
    = label_tag 'Valid only?'
    = check_box_tag :valid_only
