.search_section
  = form_tag advanced_search_path, method: :get do
    .left

      Find
      = select_tag :rank, rank_options_for_select(params[:rank])

      described by
      = text_field_tag :author_name, params[:author_name]

      in the year
      = text_field_tag :year, params[:year]

    .left.valid_only
      = label_tag 'Valid only?'
      = check_box_tag :valid_only

    .go_and_throbber.left
      = submit_button 'Go', 'submit_button'
      = image_tag 'ui-anim_basic_16x16.gif', id: 'throbber', class: 'throbber'

    .clear
