.right_buttons
  = add_taxon_button @taxon, @collision_resolution
  = add_tribe_button @taxon
  = convert_to_subspecies_button @taxon
  = elevate_to_species_button @taxon
  = delete_unreferenced_taxon_button @taxon
