.right_buttons
  -if add_taxon_button_text
    -if @collision_resolution
      -@add_taxon_path = new_taxa_path rank_to_create: @rank_to_create, parent_id: @taxon.id, collision_resolution: @collision_resolution
    -else
      -@add_taxon_path = new_taxa_path rank_to_create: @rank_to_create, parent_id: @taxon.id
    = link_to add_taxon_button_text, @add_taxon_path, class: "btn-new"

  -if add_tribe_button_text
    = link_to add_tribe_button_text, new_taxa_path(rank_to_create: Tribe, parent_id: @taxon.id), class: "btn-new"

  = convert_to_subspecies_button @taxon
  = elevate_to_species_button @taxon

  -if show_delete_taxon_button
    = link_to 'Delete', destroy_unreferenced_taxa_path(@taxon), method: :delete, class: "btn-delete", data: { confirm: "Are you sure you want to delete this taxon? Note: It may take a few moments to check that this taxon isn't being referenced." }
