-#Locals: taxon, form

.epithet_status_flags_section.section
  %table
    = render 'epithet_section', taxon: taxon, form: form

    %tr
      %td.label= form.label :status
      %td= form.select :status, Status.options_for_select

    = render 'homonym_replaced_by_section', taxon: taxon, form: form

    %tr
      %td
      %td
        = form.label :incertae_sedis_in
        = form.select :incertae_sedis_in, [['(none)', nil], 'family', 'subfamily', 'tribe', 'genus']

        = form.check_box :fossil
        = form.label :fossil

        = form.check_box :unidentifiable
        = form.label :unidentifiable

        = form.check_box :unresolved_homonym
        = form.label :unresolved_homonym, 'Unresolved junior homonym'

        = form.check_box :hong
        = form.label :hong

    %tr
      %td.label.top_aligned= form.label :headline_notes_taxt, 'Notes'
      %td#headline_notes_taxt_editor.taxt_editor
        = render 'taxt_editors/show', name: 'taxon[headline_notes_taxt]', value: Taxt.to_editable(@taxon.headline_notes_taxt)
