-#Locals: taxon, parent, form, default_name

- default_name ||= nil

%tr
  = form.fields_for :name do |name_form|
    - if name_form.object.new_record?
      = hidden_field_tag 'taxon[name_attributes][id]'
    %td.label.top_aligned= name_form.label :name
    %td
      #epithet_field
        = hidden_field_tag 'default_name', default_name && "#{default_name} "
        = render 'name_fields/panel', name_string: taxon.name.try(:name)
      .name_description
        = name_description taxon
