- @title = @taxon.name.epithet

- content_for :head do
  = javascript_include_tag  'qtip',
                            'ext/jquery.ui.selectmenu.js', 'ext/jquery.spinner.js',
                            'widgets/panel', 'widgets/field_panel',
                            'widgets/form', 'widgets/ajax_form', 'widgets/nested_form',
                            'widgets/reference_panel', 'widgets/reference_form',
                            'widgets/reference_field',
                            'widgets/name_field',
                            'widgets/reference_popup', 'widgets/name_popup', 'widgets/taxt_editor',
                            'taxa', 'history_item'

- content_for :page_contents do
  = form_for @taxon, as: :taxon, url: "/taxa/#{@taxon.id}", html: {class: 'taxon_form ui-widget', style: {display: 'none'}} do |form|
    %input{type: :hidden, name: 'possible_homonym', id: 'possible_homonym', value: @possible_homonym ? 'true' : nil}
    = render 'shared/errors_for', resource: @taxon

    = render 'epithet_status_flags_section',      taxon: @taxon, form: form
    = render 'protonym_section',                  taxon: @taxon, form: form
    = render 'type_section',                      taxon: @taxon, form: form
    = render 'history_section',                   taxon: @taxon, form: form
    = render 'junior_and_senior_synonyms_section',taxon: @taxon, form: form
    = render 'homonym_section',                   taxon: @taxon, form: form
    = render 'references_section',                taxon: @taxon, form: form

    = render 'buttons_section', form: form, possible_homonym: @possible_homonym, show_reverse_synonymy_button: @show_reverse_synonymy_button, show_elevate_to_species_button: @show_elevate_to_species_button
