- @title = @taxon.name.epithet

- content_for :head do
  = javascript_include_tag  'qtip'
  = javascript_include_tag  'ext/jquery.ui.selectmenu.js', 'ext/jquery.spinner.js'
  = javascript_include_tag  'widgets/panel', 'widgets/field_panel'
  = javascript_include_tag  'widgets/form', 'widgets/ajax_form', 'widgets/nested_form'
  = javascript_include_tag  'widgets/reference_panel', 'widgets/reference_form'
  = javascript_include_tag  'widgets/reference_field'
  = javascript_include_tag  'widgets/name_field'
  = javascript_include_tag  'widgets/reference_popup', 'widgets/name_popup', 'widgets/taxt_editor'
  = javascript_include_tag  'taxa', 'history_items_section', 'synonyms_section', 'references_section', 'homonym_replaced_by_section'

- content_for :page_header do
  #navigation_bar
  = render 'shared/catalog_title'

- content_for :page_contents do
  - url = @taxon.new_record? ?  '/taxa': "/taxa/#{@taxon.id}"
  - method = @taxon.new_record? ? 'post' : 'put'
  = form_for @taxon, as: :taxon, url: url, method: method, html: {class: 'taxon_form ui-widget'} do |form|
    = render 'shared/errors_for', resource: @taxon

    .fields_section.section.ui-widget-content.ui-corner-all
      = render 'epithet_status_flags_section',      taxon: @taxon, form: form
      = render 'protonym_section',                  taxon: @taxon, form: form
      = render 'type_section',                      taxon: @taxon, form: form
      = render 'buttons_section',                   form: form,                                                      |
                                                    possible_homonym:               @possible_homonym,               |
                                                    show_elevate_to_species_button: @show_elevate_to_species_button, |
                                                    add_taxon_button_text:          @add_taxon_button_text           |

    - unless @taxon.new_record?
      = render 'history_items_section',               taxon: @taxon
      = render 'junior_and_senior_synonyms_section',  taxon: @taxon
      = render 'references_section',                  taxon: @taxon
