- @title = 'About'

%div.about
  %div.section
    AntCat is a catalog and bibliography of the taxonomy of the world's ants.

  %div.section
    %h2 To cite AntCat:

  %div.cite
    %b Bolton, B. 2013. An online catalog of the ants of the world. Available from http://antcat.org. (accessed [date])

  %div.section
    %h2 Tutorial videos
    %ul
      %li= link_to 'Fix missing authorship (2:25)', 'https://vimeo.com/67913100'
      %li= link_to 'Merging author names (3:05)', 'https://vimeo.com/36291084'
      %li= link_to 'Editing demo (6:06)', 'https://vimeo.com/40688187'

  %div.section
    %h2
      Other links
    %ul
      - if user_is_editor?
        %li= link_to 'Adding a new species name', 'http://bit.ly/16gjeFg'
        %li= link_to 'Editing guidelines', page_path('editing_guidelines')
      %li= link_to 'Source code', 'https://github.com/calacademy/antcat'
      %li= link_to 'Project plan', 'https://www.pivotaltracker.com/s/projects/97176'
      %li= link_to 'Contact us ', 'mailto:mark@mwilden.com'

  %div.section
    This material is based on work supported by the National Science Foundation under grant number 0642321.  Any opinions,
    findings, and conclusions or recommendations are those of the author(s) and do not necessarily reflect the views of the
    National Science Foundation.

  %div.last_section
