= form_tag reference_pickers_path do
  = button_tag 'OK', class: 'ok'
  = button_tag 'Cancel', class: 'close'
  = select_tag "search_selector", options_for_select(["Search for", "Search for author(s)"], params[:search_selector])
  = text_field_tag "q", params[:q]
  = image_tag 'help.png', class: 'help_icon'
  = submit_tag 'Go'

-if @references.empty?
  .no_results_found
    No results found

%table.references
  - for reference in @references
    %tr.reference_row
      %td
        = render 'reference', :reference => reference, :publisher_string => '', :css_class => 'reference'

%div= will_paginate @references

= render 'shared/qtip'
