-#Locals: reference, publisher_string

- css_class = 'reference'
- if reference
  - css_class << " item_#{reference.id}"
  - taxt = Taxt.to_editable_reference reference
  - id = reference.id
- else
  - taxt = id = nil

%div{class: css_class, 'data-id' => id, 'data-taxt' => taxt}
  %table.reference_table
    %tr
      %td.expand_collapse_icon
        = image_tag 'collapsed.png', alt: ''
      %td.icons
        - if reference
          %a.icon.edit{title: 'edit', href: '#'}
            = image_tag 'edit_off.png', alt: 'edit'
      %td.reference_item
        - if reference
          = render 'reference_pickers/display', reference: reference if !reference.new_record? && reference.errors.empty?
          = render 'reference_pickers/edit', reference: reference, publisher_string: publisher_string
        - else
          (none)
