= form_tag reference_pickers_path, id: 'search_form' do
  = select_tag "search_selector", options_for_select(["Search for", "Search for author(s)"], params[:search_selector])
  = text_field_tag "q", params[:q]
  = image_tag 'help.png', class: 'help_icon'
  = submit_tag "Go", id: 'go_button'

= render 'shared/qtip'
