= form_tag reference_picker_path, id: 'search_form' do
  = button_tag 'OK', class: 'ok ui-priority-primary'
  = button_tag 'Cancel', class: 'close ui-priority-secondary'
  = select_tag "search_selector", options_for_select(["Search for", "Search for author(s)"], params[:search_selector])
  = text_field_tag "q", params[:q]
  = image_tag 'help.png', class: 'help_icon'
  = submit_tag 'Go', class: 'ui-priority-primary'
  = image_tag 'ui-anim_basic_16x16.gif', id: 'throbber', style: 'display:none'
  = will_paginate @references, remote: true

-if @references.empty?
  .no_results_found
    No results found

%table.references
  - for reference in @references
    %tr.reference_row
      %td
        = render 'reference', :reference => reference, :publisher_string => '', :css_class => 'reference'

= render 'shared/qtip'
