-#Locals: references, current_reference

%table.current_reference.references
  %tr.reference_row
    %td
      - if current_reference
        = render '/references/reference', reference: current_reference, publisher_string: '', css_class: 'reference', edit_template_directory: 'reference_pickers'

= form_tag reference_picker_path, class: 'search_form' do
  .throbber
    = image_tag 'ui-anim_basic_16x16.gif'

  .controls
    .ok_cancel_controls
      = button_tag 'OK', class: 'ok ui-priority-primary'
      = button_tag 'Cancel', class: 'close ui-priority-primary'

    .search_controls
      = select_tag "search_selector", options_for_select(["Search for", "Search for author(s)"], params[:search_selector]), class: 'search_selector'
      = text_field_tag "q", params[:q], class: 'q'
      = image_tag 'help.png', class: 'help_icon'
      = button_tag 'Go', class: 'ui-priority-primary'
      = button_tag 'Cancel', class: 'ui-priority-primary close'

    = will_paginate references if references

    .help_banner
      %span.help_banner_text

  .clear

- if references && (references.first != current_reference || references.size != 1 || params[:q].present?)

  -if references.empty?
    .no_results_found No results found

  %table.references.search_results
    - for reference in references
      %tr.reference_row
        %td= render '/references/reference', reference: reference, publisher_string: '', css_class: 'reference', edit_template_directory: 'reference_pickers'

= render 'shared/qtip'
