- @title = 'Change Password'

- form_for resource_name, resource, :url => password_path(resource_name), :html => { :method => :put } do |f|
  = render :partial => 'shared/errors_for', :locals => { :resource => resource }

  = f.hidden_field :reset_password_token

  %p= f.label :password 
  %p= f.password_field :password

  %p= f.label :password_confirmation
  %p= f.password_field :password_confirmation

  %p= f.submit "Change my password"

