.rank
  - rank = Rank[rank]
  %table{class: rank.to_sym(:plural)}
    %tr
      %td.header
        = rank.to_s :plural, :capitalized

        - if options[:can_show_unavailable]
          .hide_show= hide_or_show_unavailable_subfamilies_link session[:show_unavailable_subfamilies], child, id

        - if options[:hideable_name]
          .hide_show= hide_link options[:hideable_name], id, child, id
        - if options[:hideable_child_name]
          .hide_show
            - showing_child = "show_#{options[:hideable_child_name]}".to_sym
            - unless session[showing_child]
              = show_child_link options[:hideable_child_name], id, child, id
    %tr
      %td
        - if items
          %table
            - if options[:show_none]
              - items = items.to_a
              - items.insert 0, options[:show_none]
            - rows, css_class = snake_taxon_columns items
            - rows.each do |row|
              %tr
                - row.each do |item|
                  %td{class: css_class}
                    - if item
                      = index_column_link rank.to_sym, item, selected_item, parent, child, id
