-# Locals: taxon
.antcat_taxon

  = Formatters::CatalogFormatter.header taxon
  = Formatters::CatalogFormatter.statistics taxon
  = Formatters::CatalogFormatter.genus_species_header_note taxon, current_user
  = Formatters::CatalogFormatter.headline taxon, current_user
  = Formatters::CatalogFormatter.history taxon, params, current_user
  = Formatters::CatalogFormatter.child_lists taxon, current_user
  = Formatters::CatalogFormatter.references taxon, current_user
