
.taxon_form#taxon_form.ui-widget{style: {display: 'none'}}
  - genus = Genus.first
  = form_for genus do |f|
    .name_section.section
      %table.ui-dialog-content.ui-widget-content.ui-corner-all
        %tr
          %td.label= label_tag :name
          %td
            %span.name= f.text_field :input_name
            %span.ancestry= "Genus < Tapinomini < Dolichoderinae"
        %tr
          %td.label= label_tag :status
          %td
            Selector
            Radio buttons

    .protonym_section.section
      .section_header.ui-widget-header.ui-corner-top
        Protonym
      .ui-dialog-content.ui-widget-content.ui-corner-bottom
        Protonym fields

    .type_section.section
      .section_header.ui-widget-header.ui-corner-top
        Type
      .ui-dialog-content.ui-widget-content.ui-corner-bottom
        Type fields

    .history_section.section
      .section_header.ui-widget-header.ui-corner-top
        History
      .ui-dialog-content.ui-widget-content.ui-corner-bottom
        History items

    .references_section.section
      .section_header.ui-widget-header.ui-corner-top
        References
      .ui-dialog-content.ui-widget-content.ui-corner-bottom
        Reference items

    %table.synonym_homonym_section.section
      %tr
        %td
          .synonym_section
            .section_header.ui-widget-header.ui-corner-top
              Synonyms
            .ui-dialog-content.ui-widget-content.ui-corner-bottom
              Synonym items

        %td
          .homonym_section.ui-corner-all
            .section_header.ui-widget-header.ui-corner-top
              Homonym
            .ui-dialog-content.ui-widget-content.ui-corner-bottom
              Homonym fields

    .buttons_section
