-#Locals: genus, tribe
-#Members: @possible_duplicate

.taxon_form.ui-corner-all.ui-widget-content.ui-widget
  - genus ||= Genus.new
  = form_for genus do |f|
    %span.creating_taxon_message= creating_taxon_message :genus, tribe
    = render 'shared/errors_for', resource: genus

    -#%input{type: 'hidden', name: 'subfamily_id', value: subfamily_id}
    %input{type: 'hidden', name: 'genus[tribe]', value: tribe.id}

    %table{style: 'width:100%'}
      %col{:width => '50px'}
      %col{:width => '*'}
      %col{:align => 'right', :width => '34px'}
      %col{:width => '100px'}

      %tr
        %td= label_tag :name
        %td= f.text_field :name

      %tr
        %td
        %td
          .ui-dialog-titlebar.ui-widget-header.ui-corner-all
            %span.ui-dialog-title Protonym
          .ui-dialog-content.ui-widget-content
            %table{style: 'width:100%'}
              %tr
                %td= label_tag :name
                %td= f.text_field :name
              %tr
                %td{colspan:2}
                  .ui-dialog-titlebar.ui-widget-header.ui-corner-all
                    %span.ui-dialog-title Authorship
                  .ui-dialog-content.ui-widget-content
                    (picker)

      %tr
        %td
        %td
          .ui-dialog-titlebar.ui-widget-header.ui-corner-all
            %span.ui-dialog-title Type
          .ui-dialog-content.ui-widget-content

      %tr
        %td
        %td
          .ui-dialog-titlebar.ui-widget-header.ui-corner-all
            %span.ui-dialog-title History
          .ui-dialog-content.ui-widget-content

      %tr
        %td
        %td
          .ui-dialog-titlebar.ui-widget-header.ui-corner-all
            %span.ui-dialog-title References
          .ui-dialog-content.ui-widget-content

      %tr
        %td.spinner_container{:colspan => 4}
          %button.ui-priority-primary.submit= @possible_duplicate ? 'Save Anyway' : 'Save'
          %button.ui-priority-secondary.cancel Cancel
