-# Locals: taxon

- height = session[:taxon_window_height]
.antcat_taxon{'data-taxon-window-height' => height ? height : ""}

  - formatter = Formatters::TaxonFormatter.new taxon, current_user
  = formatter.header
  - unless taxon.original_combination?
    = formatter.statistics
    = formatter.genus_species_header_notes_taxt
    = formatter.headline

    - if taxon.history_items.present?
      .history
        - for history_item in taxon.history_items do
          = Taxt.to_sentence history_item.taxt, current_user

    = formatter.child_lists
    = formatter.references
    = formatter.change_history
