- @title = "#{@taxon.name.epithet}"

- content_for :head do
  = javascript_include_tag 'qtip', 'ext/jquery.ui.selectmenu.js', 'ext/jquery.spinner.js'
  = stylesheet_link_tag 'ext/jquery.ui.selectmenu.css'

#hide_all
  &nbsp;

#catalog
  = render 'catalog/taxon', taxon: @taxon, show_short_taxon: @show_short_taxon

  #splitter

  .index
    = render   'rank', rank: :subfamily,items: @subfamilies,selected_item: @subfamily, parent: nil,       options: {can_show_unavailable: true, show_none: 'none', hideable_child_name: 'tribes'}
    - if session[:show_tribes] and @subfamily != 'none'
      = render 'rank', rank: :tribe,    items: @tribes,     selected_item: @tribe,     parent: @subfamily,options: {hideable_name: 'tribes', show_none: 'none'}
    = render   'rank', rank: :genus,    items: @genera,     selected_item: @genus,     parent: nil,       options: {hideable_child_name: 'subgenera'}
    - if session[:show_subgenera]
      = render'rank',  rank: :subgenus, items: @subgenera,  selected_item: @subgenus,  parent: nil,       options: {hideable_name: 'subgenera'}
    = render  'rank',  rank: :species,  items: @specieses,  selected_item: @species,   parent: nil,       options: {}

= render 'shared/qtip'
