%div{"data-controller" => "picker", "data-picker-url-value" => "#{autocomplete_url}", "data-picker-pickable-type-value" => "#{pickable_type}", "data-picker-allow-clear-value" => "#{allow_clear?}"}
  .p-2.rounded.border.border-gray-300.inline-block{"data-picker-target" => "fakeInput", class: "min-w-[15rem]"}
    = label || "(none)"

  %button.btn-neutral{"data-action" => 'click->picker#open'} Pick
  %button.btn-neutral.hidden{"data-action" => 'click->picker#clear', "data-picker-target" => "clearButton"} Clear

  %input.hidden{"data-picker-target" => "hiddenInput", name: name, id: id, type: "text", value: record&.id, data: { visible_in_test_env: true }}

  .hidden.fixed.inset-0.z-50.p-8{"data-picker-target" => "modalWrapper", "data-action" => 'click->picker#backdropClickClose', class: "bg-black/50"}
    .bg-white.rounded.p-4.m-auto.relative{"data-action" => 'keydown->picker#_onKeydown'}
      .flex.justify-between.mb-2
        %div
          %span.pickable-outline Pickable type: #{pickable_type}
          -if ranks.present?
            %span Pickable ranks: #{ranks.join(', ')} (only works for taxa)

        %button{"data-action" => 'click->picker#close', class: "text-gray-400 hover:bg-gray-200 hover:text-gray-900 p-1.5 rounded-lg"}
          =inline_svg_tag('icons/x-mark.svg', class: "inline w-6 h-6")

      %input.mb-4{"autocomplete" => "off", "spellcheck" => "false", "data-picker-target" => "searchInput", "data-action" => 'input->picker#_onSearch', type: "text"}
      %div{"data-picker-target" => "searchResults", "data-action" => 'click->picker#_onClickSearchResult'}
