.additional-editor-data.callout.no-border-callout.logged-in-only-background
  %h6
    Taxon:
    =taxon.name_with_fossil

  .tiny-margin-bottom
    =copy_to_clipboard_button Taxt.taxon_to_tax_tag(taxon), "tax #{taxon.id}"
    =copy_to_clipboard_button taxon.id

.additional-editor-data.callout.no-border-callout.logged-in-only-background
  %h6
    Protonym:
    =protonym.decorate.link_to_protonym_epithet

  .tiny-margin-bottom
    =copy_to_clipboard_button Taxt.protonym_to_pro_tag(protonym), "pro #{protonym.id}"
    =copy_to_clipboard_button protonym.id

  =render 'protonyms/shared/additional_data_for_editors', protonym: protonym

  -if user_is_at_least_helper?
    %ul.no-bullet
      %li.tiny-margin-bottom=link_to "Edit protonym", edit_protonym_path(protonym), class: "btn-normal btn-tiny"

      -if Status.display_history_items?(taxon.status)
        %li.tiny-margin-bottom=link_to "Add history item", new_protonym_history_item_path(taxon.protonym, **current_page_redirect_back_url), class: "btn-normal btn-tiny"
      -else
        %li.tiny-margin-bottom
          =link_to "Add history item", new_protonym_history_item_path(taxon.protonym, **current_page_redirect_back_url), class: "btn-warning btn-tiny"
          (it will not be shown on this page)
      -if taxon.history_items_for_taxon.size > 1
        %li.tiny-margin-bottom=link_to "Reorder history items", protonym_reorder_history_items_path(taxon.protonym), class: "btn-normal btn-tiny"

-# Ignore "Issue" sidebar for Formicidae for performance and a cleaner look.
-if Settings.catalog.show_failed_soft_validations && !taxon.is_a?(Family)
  -if taxon.soft_validations.failed?
    .soft-validations-callout.callout.warning
      %h6 Issues (#{link_to("see more", taxon_soft_validations_path(taxon))})
      =render 'shared/failed_soft_validations', soft_validations: taxon.soft_validations

  -if protonym.soft_validations.failed?
    .soft-validations-callout.callout.warning
      %h6=link_to 'Protonym issues', protonym_soft_validations_path(protonym)
      %p
        These issues listed here are for the protonym of this taxon,
        =succeed '.' do
          =protonym.decorate.link_to_protonym
      =render 'shared/failed_soft_validations', soft_validations: protonym.soft_validations

=render 'protonyms/shared/etymology_and_gender', protonym: protonym, taxon: taxon

-if editors_catalog_presenter.taxa_with_same_name.present?
  .additional-editor-data.callout.no-border-callout.logged-in-only-background
    %h6 Taxa with same name
    %ul.compact-list.small-margin-bottom
      -editors_catalog_presenter.taxa_with_same_name.includes(:name, protonym: [{ authorship: :reference }]).each do |homonym|
        %li
          =CatalogFormatter.link_to_taxon(homonym)
          =homonym.author_citation
          %span.small-text=homonym.decorate.compact_status

-if taxon.policy.show_create_combination_button?
  #can-be-combined-editing-helper.additional-editor-data.callout.no-border-callout.logged-in-only-background
    %h6 Can be combined?

    -if current_user.settings(:editing_helpers).create_combination
      -policy = CreateCombinationPolicy.new(taxon)
      -if policy.allowed?
        %p
          Probably!
          =link_to "Create combination", new_taxa_create_combination_path(taxon), class: "btn-normal btn-tiny"
      -else
        No, because:
        %ul
          -policy.errors.each do |error|
            %li=error
        See also this issue on GitHub
        =link_to '#808.', 'https://github.com/calacademy-research/antcat/issues/808'
      =hide_editing_helper_link
    -else
      =enable_editing_helper_link

.additional-editor-data.callout.no-border-callout.logged-in-only-background
  %h6 Additional data for editors

  %ul.no-bullet
    %li Rank and status: #{taxon.type}, #{taxon.status}
    -if taxon.original_combination?
      %li
        Original combination
        =antcat_icon 'check'
    %li Created at: #{l taxon.created_at, format: :ymd}
    %li Updated at: #{l taxon.updated_at, format: :ymd}

  -# Show parents to make it easier to spot inconsistent records, since the breadcrumb shows the parent of the parent of the parent...
  %ul.no-bullet
    -if taxon.is_a?(Species)
      %li
        Subgenus:
        -if taxon.subgenus
          =CatalogFormatter.link_to_taxon(taxon.subgenus)
        -else
          (none)
          =link_to "Set subgenus", taxa_set_subgenus_path(taxon), class: "btn-normal btn-very-tiny"
    -if taxon.is_a?(SpeciesGroupTaxon)
      %li Genus: #{CatalogFormatter.link_to_taxon(taxon.genus)}
    -if taxon.is_a?(Subspecies) || taxon.is_a?(Infrasubspecies)
      %li Species: #{CatalogFormatter.link_to_taxon(taxon.species)}
    -if taxon.is_a?(Infrasubspecies)
      %li Subspecies: #{CatalogFormatter.link_to_taxon(taxon.subspecies)}
