-#Locals: taxa

.results_section
  - if taxa.present? && taxa.size > 0
    = "#{pluralize_with_delimiters(taxa.size, 'result')} found"
  - else
    No results found
  %hr
  - if taxa.present?
    %div= will_paginate taxa
    - for taxon in taxa
      .result
        .name=     link_to_taxon taxon
        .protonym= format_protonym taxon
    %div= will_paginate taxa
