- @title = 'Forager'

- content_for :head do
  = javascript_include_tag 'forager'
  = javascript_include_tag 'ext/jquery.scrollTo-1.4.2-min'
  = stylesheet_link_tag 'forager'

#index
  - @index_header_taxa.each do |index_header_taxon|
    .taxon_header
      = link_to index_header_taxon[:taxon].name, index_header_taxon[:path]
    %hr

  - @index_taxa.each do |taxon|
    .taxon_header
      = link_to taxon.name, taxon.id.to_s

#browser
  - @browser_taxa.each do |taxon|
    .taxon_header{:id => taxon.id}
      = link_to taxon.name, forager_path(:rank => @child_rank, :id => taxon)
    .taxonomic_history= raw taxon.taxonomic_history
  -#- 100.times do
    -#.taxon_header
      -#&nbsp;

.clear
