= form_for journal do |f|
  = render 'shared/errors_for', :resource => journal
  %p
    = f.label :name, 'Journal name'
    %br
    = f.text_field :name
    = f.submit previewize 'Save'
  %p
  %p
    %br
