-#This is pretty much a copy of references/_edit
- reference.publisher_string ||= reference.respond_to?(:publisher) ? (reference.publisher && reference.publisher.to_s) : ''
- reference.journal_name ||= reference.respond_to?(:journal) ? (reference.journal && reference.journal.name) : ''
- selected_tab = [ArticleReference, BookReference, NestedReference, UnknownReference].index(reference.class) || 0

.edit.ui-corner-all.ui-widget-content.ui-widget
  - url = reference.new_record? ? references_path(field: true) : reference_path(reference, field: true)
  - method = reference.new_record? ? 'post' : 'put'
  - data_multipart = Rails.env.test? ? '' : 'true'
  .nested_form{'data-action' => url, 'data-method' => method, 'data-multipart' => data_multipart}
    %input{type: :hidden, name: :selected_tab, id: :selected_tab, class: :selected_tab, value: selected_tab}
    %input{type: 'hidden', name: 'possible_duplicate', id: 'possible_duplicate', value: @possible_duplicate ? 'true' : nil}
    = render 'shared/errors_for', :resource => reference

    %table
      %col{:width => '50px'}
      %col{:width => '*'}
      %col{:align => 'right', :width => '34px'}
      %col{:width => '100px'}
      %tr
        %td= label_tag :reference_author_names_string, 'Authors'
        %td.authors= text_field_tag 'reference[author_names_string]', reference.author_names_string, :class => 'authors'
        %td{:style => 'padding-right: 5px'}= label_tag :reference_citation_year, 'Year'
        %td{:class => :right_side_field}= text_field_tag 'reference[citation_year]', reference.citation_year
      %tr
        %td= label_tag :reference_title, 'Title'
        %td{:colspan => 3, :class => :right_side_field}= text_area_tag 'reference[title]', reference.title, :rows => 2
      %tr
        %td.tabs{:colspan => 4}

          .tabbable{'data-title' => 'Article'}
            = label_tag :reference_journal_name, 'Journal'
            = text_field_tag 'reference[journal_name]', reference.journal_name, class: 'journal'
            = label_tag :reference_series_volume_issue, 'Series volume issue'
            = text_field_tag 'reference[series_volume_issue]', reference.series_volume_issue, :class => 'series_volume_issue'
            = label_tag :article_pagination, 'Pagination'
            = text_field_tag :article_pagination, reference.pagination, :class => 'pages'

          .tabbable{'data-title' => 'Book'}
            = label_tag :publisher_string, 'Publisher'
            = text_field_tag 'reference[publisher_string]', reference.publisher_string, :class => 'publisher'
            = label_tag :book_pagination, 'Pagination'
            = text_field_tag :book_pagination, reference.pagination, :class => 'pages'

          .tabbable{'data-title' => 'Nested'}
            = label_tag :reference_pages_in, 'Pages in'
            = text_field_tag 'reference[pages_in]', reference.pages_in, :class => 'pages'
            = label_tag :reference_nested_reference_id, 'Nested reference ID'
            = text_field_tag 'reference[nested_reference_id]', reference.nested_reference_id, :class => 'pages'
            %p.help
              %span.help= raw "To find, edit or add the nested reference in a new browser window, click #{link_to 'here', references_path(:q => reference.nested_reference_id), :target => '_blank'}"

          .tabbable{'data-title' => 'Other'}
            = label_tag :reference_citation, 'Citation'
            = text_area_tag 'reference[citation]', reference.citation, :rows => 2

      -#= f.fields_for :document, reference.document || ReferenceDocument.new do |document_form|
        -#%tr
          -#%td= label_tag :document_url, 'Source URL'
          -#%td{:colspan => 3, :class => :right_side_field}
            -#= document_form.text_field :url
            -#= label_tag :document_public, 'Internal but public?'
            -#= document_form.check_box :public
        - if $Milieu.can_upload_pdfs?
          -#%tr
            -#%td= label_tag :document_file, 'Upload'
            -#%td= document_form.file_field :file

      %tr
        %td= label_tag :reference_public_notes, 'Public notes'
        %td{:colspan => 3, :class => :right_side_field}= text_area_tag 'reference[public_notes]', reference.public_notes, :rows => 2
      - if user_is_editor?
        %tr
          %td= label_tag :reference_editor_notes, 'Editor notes'
          %td{:colspan => 3, :class => :right_side_field}= text_area_tag 'reference[editor_notes]', reference.editor_notes, :rows => 2
        %tr
          %td= label_tag :reference_taxonomic_notes, 'Taxonomic notes'
          %td{:colspan => 3, :class => :right_side_field}= text_area_tag 'reference[taxonomic_notes]', reference.taxonomic_notes, :rows => 2
      %tr
        %td{:colspan => 4}
          %table.small_fields
            %tr
              %td{:style => 'padding-right: 5px'}= label_tag :reference_cite_code, 'Cite code'
              %td.cite_code= text_field_tag 'reference[cite_code]', reference.cite_code
              %td= label_tag :reference_possess, 'Possess'
              %td.possess= text_field_tag 'reference[possess]', reference.possess
              %td= label_tag :reference_date, 'Date'
              %td.date= text_field_tag 'reference[date]', reference.date
              %td= label_tag :reference_id, 'ID'
              %td= reference.id
      %tr
        %td.buttons{:colspan => 4}
          %button.ui-priority-primary.submit= previewize @possible_duplicate ? 'Save Anyway' : 'Save'
          %button.ui-priority-secondary.cancel Cancel
