- css_class = 'reference_display'
- css_class << ' downloadable' if reference.downloadable?

%div{:class => css_class}
  = reference.decorate.format
  = reference.decorate.format_reference_document_link
  = reference.decorate.goto_reference_link
  - if user_is_editor?
    = link_to "Delete reference", reference_path(reference), class: "btn-delete", method: :delete, data: { confirm: "Do you want to delete this reference? Note: it can take a minute or to to check that there are no references to this one." }

  %p.notes= reference.decorate.public_notes
  - if user_is_editor?
    %p.editor.notes= reference.decorate.editor_notes
    %p.notes= reference.decorate.taxonomic_notes
