- css_class = 'reference_display'
- css_class << ' downloadable' if reference.downloadable_by? current_user
%div{:class => css_class}
  = raw format_reference reference
  - document_link = format_reference_document_link reference
  = raw document_link if document_link
  = reference.id

  %p.notes= italicize h reference.public_notes
  - if user_signed_in?
    %p.editor.notes= italicize h reference.editor_notes
    %p.notes= italicize h reference.taxonomic_notes
