.reference_display
  = format_reference reference

  = ' '
  %a.reference_action_link.add{:href => '#'} add
  = ' '
  %a.reference_action_link.copy{:href => '#'} copy
  = ' '
  %a.reference_action_link.delete{:href => '#'} delete

  %p.notes= italicize reference.public_notes
  %p.editor.notes= italicize reference.editor_notes
  %p.notes= italicize reference.taxonomic_notes
