.reference_display
  = format_reference reference
  = link_to 'SOURCE', reference.source_url, :class => :source_link if reference.source_url

  %p.notes= italicize h reference.public_notes
  %p.editor.notes= italicize h reference.editor_notes
  %p.notes= italicize h reference.taxonomic_notes
