- css_class = 'reference_display'
- downloadable = reference.downloadable_by? current_user
- css_class << ' downloadable' if downloadable
%div{:class => css_class}
  = raw format_reference reference
  = link_to 'PDF', reference.url, :class => :document_link, :target => '_blank' if downloadable

  %p.notes= raw italicize h reference.public_notes
  - if user_signed_in?
    %p.editor.notes= raw italicize h reference.editor_notes
    %p.notes= raw italicize h reference.taxonomic_notes
