- css_class = 'reference_display'
- css_class << ' has_source' if reference.source_url?
%div{:class => css_class}
  = format_reference reference
  = link_to 'PDF', reference.source_url, :class => :source_link, :target => '_blank' if reference.source_url? && (!reference.hosted_by_us?(request.host) || user_signed_in?)

  %p.notes= italicize h reference.public_notes
  - if user_signed_in?
    %p.editor.notes= italicize h reference.editor_notes
    %p.notes= italicize h reference.taxonomic_notes
