- reference ||= Reference.new
- publisher_string = reference.respond_to?(:publisher_string) ? reference.publisher_string : ''
- journal_title = reference.respond_to?(:journal) ? (reference.journal && reference.journal.title) : ''

.reference_form
  - url = reference.new_record? ? references_path : reference_path(reference)
  - method = reference.new_record? ? 'post' : 'put'
  - form_for :reference, reference, :url => url do |f|
    %input{:type => 'hidden', :name => '_method', :value => method}
    = render :partial => 'shared/errors_for', :locals => { :resource => reference }

    %table
      %colgroup
        %col{:width => '*'}
        %col{:width => '100px'}
      %tr
        %td.authors= f.text_field :authors_string, :class => 'authors'
        %td= f.text_field :citation_year
      %tr
        %td{:colspan => 2}
          = f.text_area :title, :rows => 1
      %tr
        %td.tabs{:colspan => 2}
          %ul
            %li
              %a{:href => "#tabs-article-#{reference.id}"}Article
            %li
              %a{:href => "#tabs-book-#{reference.id}"}Book
          %table{:id => "tabs-article-#{reference.id}"}
            %tr
              %td= text_field_tag :journal_title, journal_title, :style => 'width: 575px', :class => 'journal'
              %td{:style => 'padding-left: 10px;'}= f.text_field :series_volume_issue, :style => 'width: 120px'
              %td= ':'
              %td= f.text_field :pagination, :style => 'width: 80px'
          %p{:id => "tabs-book-#{reference.id}"}
            = text_field_tag :publisher_string, publisher_string
      %tr
        %td{:colspan => 2}
          = f.text_area :public_notes, :rows => 1
      %tr
        %td{:colspan => 2}
          = f.text_area :editor_notes, :rows => 1
      %tr
        %td{:colspan => 2}
          = f.text_area :taxonomic_notes, :rows => 1
      %tr
        %td
          %table.small_fields
            %tr
              %td.cite_code= f.text_field :cite_code
              %td.possess= f.text_field :possess
              %td.date= f.text_field :date
      %tr
        %td{:colspan => 2}
          = f.submit 'OK', :name => 'commit'
          %button.cancel Cancel
          %button.delete Delete
