- reference ||= Reference.new
- publisher_string = reference.respond_to?(:publisher_string) ? reference.publisher_string : ''
- journal_title = reference.respond_to?(:journal) ? (reference.journal && reference.journal.title) : ''
- selected_tab = [ArticleReference, BookReference].index(reference.class) || 0

.reference_form.ui-corner-all.ui-widget-content.ui-widget
  - url = reference.new_record? ? references_path : reference_path(reference)
  - method = reference.new_record? ? 'post' : 'put'
  - form_for :reference, reference, :url => url do |f|
    %input{:type => 'hidden', :name => '_method', :value => method}
    %input{:type => 'hidden', :class => 'selected_tab', :value => selected_tab}
    = render :partial => 'shared/errors_for', :locals => { :resource => reference }

    %table
      %colgroup
        %col{:width => '*'}
        %col{:width => '100px'}
      %tr
        %td.authors= f.text_field :authors, :class => 'authors', :value => reference.authors_string
        %td{:class => :padding_6}= f.text_field :citation_year
      %tr
        %td{:colspan => 2, :class => :padding_6}= f.text_area :title, :rows => 1
      %tr
        %td.tabs{:colspan => 2}
          %ul
            %li
              %a{:href => "#tabs-article-#{reference.id}"}Article
            %li
              %a{:href => "#tabs-book-#{reference.id}"}Book

          %div{:id => "tabs-article-#{reference.id}"}
            = text_field_tag :journal_title, journal_title, :class => 'journal'
            = text_field_tag :series_volume_issue, reference.series_volume_issue, :class => 'series_volume_issue'
            = ':'
            = text_field_tag :article_pagination, reference.pagination, :class => 'pages'

          %div{:id => "tabs-book-#{reference.id}"}
            = text_field_tag :publisher_string, publisher_string, :class => 'publisher'
            = text_field_tag :book_pagination, reference.pagination, :class => 'pages'

      %tr
        %td{:colspan => 2, :class => :padding_6}= f.text_area :public_notes, :rows => 1
      %tr
        %td{:colspan => 2, :class => :padding_6}= f.text_area :editor_notes, :rows => 1
      %tr
        %td{:colspan => 2, :class => :padding_6}= f.text_area :taxonomic_notes, :rows => 1
      %tr
        %td
          %table.small_fields
            %tr
              %td.cite_code= f.text_field :cite_code
              %td.possess= f.text_field :possess
              %td.date= f.text_field :date
      %tr
        %td{:colspan => 2}
          = f.submit 'OK', :name => 'commit'
          %button.cancel Cancel
          %button.delete Delete
