-#Locals: reference

- reference ||= Reference.new
%div{id: "reference_#{reference.id}", class: css_class, 'data-taxt' => Taxt.to_editable_reference(reference)}
  %table.reference_table
    %tr
      %td.icons
        %a.icon.edit{:title => 'edit', :href => '#'}
          = image_tag 'edit_off.png', :alt => 'edit'
        %a.icon.add{:title => 'add', :href => '#'}
          = image_tag 'add_off.png', :alt => 'add'
        %a.icon.copy{:title => 'copy', :href => '#'}
          = image_tag 'copy_off.png', :alt => 'copy'
        %a.icon.delete{:title => 'delete', :href => '#'}
          = image_tag 'delete_off.png', :alt => 'delete'
      %td.reference_item
        = render 'references/display', :reference => reference if !reference.new_record? && reference.errors.empty?
        - if user_can_edit?
          = render 'references/edit', :reference => reference, :publisher_string => publisher_string
        = render 'shared/coins', :reference => reference if !reference.new_record? && reference.errors.empty?
