<% title "ANTBIB" %>

<%= will_paginate @references %>

<table>
  <% for reference in @references %>
      <tr>
        <td><%= h reference.authors %> <%= h reference.year %> <%= h reference.title %>
          <%= h reference.citation %> <%= h reference.notes %>
        </td>
      </tr>
  <% end %>
</table>

<%= will_paginate @references %>

<p><%= link_to "New Reference", new_reference_path %></p>
