- @title = 'Bibliography'

- content_for :head do
  = javascript_include_tag 'ext/jquery.spinner', 'ext/jquery.ui.autocomplete.selectFirst', 'ext/jquery.form', 'ext/jquery.a-tools-1.5.2'
  = javascript_include_tag 'references', 'reference_autocompletion'
  = stylesheet_link_tag 'references'

- content_for :page_header do
  #navigation_bar
    .actions
      - menu = link_to('Latest additions', references_path(:commit => 'new'))+ '| '
      - if user_signed_in?
        - menu << link_to('Latest changes', references_path(:commit => 'review')) << '| ' << link_to('Journals', journals_path) << '| '
      - menu << link_to('Export to EndNote', endnote_import_path(:q => params[:q]), :confirm => @endnote_export_confirmation_message)
      = menu

    = form_tag references_path, :method => 'get', :id => 'search_form' do
      .search
        Search for
        = text_field_tag "q", params[:q]
        = submit_tag "Go"

  .title
    %h2.left ANTBIB
    %h2.left A Bibliography of Ant Systematics
    %h3.right by Philip S. Ward, et al.
    .clear

-unless @references.present?
  .no_results_found
    No results found

%table.references

  - if params[:review]
    %tr
      %td
      %td.date_header
        Updated

  - if params[:whats_new]
    %tr
      %td
      %td.date_header
        Created

  - for reference in @references
    %tr.reference_row
      %td
        = render 'reference', :reference => reference, :publisher_string => @publisher_string, :css_class => 'reference'
      - if params[:review]
        %td.date
          = format_timestamp reference.updated_at
      - if params[:whats_new]
        %td.date
          = format_timestamp reference.created_at

  - if user_signed_in?
    %tr.reference_template_row
      %td
        = render 'reference', :reference => nil, :publisher_string => @publisher_string, :css_class => 'reference_template'

%div= will_paginate @references
