- @title = 'Bibliography'

- content_for :head do
  = javascript_include_tag 'references', 'reference_autocompletion', 'qtip'

- content_for :page_header do
  #navigation_bar
    .actions
      - items = [link_to('Latest additions', references_path(commit: 'new'))]
      - if user_is_editor?
        - items << link_to('Latest changes', references_path(commit: 'review'))
        - items << link_to('Journals', journals_path)
        - items << link_to('Fix missing', missing_references_path)
      - items << link_to('Export to EndNote', endnote_import_path(q: params[:q]), confirm: @endnote_export_confirmation_message)
      = make_link_menu items

    = render 'search', params: params

  .title
    %h2.left ANTBIB
    %h2.left A Bibliography of Ant Systematics
    %h3.right by Philip S. Ward, et al.
    .clear




-if @references.empty?
  .no_results_found
    No results found



%table.references
  - if params[:commit] == 'new'
    %div.approve_all_button.right= approve_all_button

  - if params[:review]
    %tr
      %td
      %td.date_header
        Changed

  = render 'references/whats_new_headings' if params[:whats_new]

  - for reference in @references
    %tr.reference_row
      %td
        = render 'reference', reference: reference, css_class: 'reference'
      - if params[:review]
        %td.date
          = Formatters::ReferenceFormatter.format_timestamp reference.updated_at

      = render 'references/whats_new_controls', reference: reference if params[:whats_new]

  - if user_can_edit?
    %tr.reference_template_row
      %td
        = render 'reference', reference: Reference.new, css_class: 'reference_template'

%div= will_paginate @references
