- @title = 'AntCat Bibliography'

- content_for :head do
  = javascript_include_tag 'ext/jquery.spinner', 'ext/jquery.ui.autocomplete.selectFirst', 'ext/jquery.form', 'ext/jquery.a-tools-1.5.2'
  = javascript_include_tag 'references', 'reference_autocompletion'
  = stylesheet_link_tag 'references'

- content_for :page_header do
  #navigation_bar
    %form#search_form{:action => '/references', :method => 'get'}
      .actions
        %a{:href => "/references?commit=new"} Show latest additions
        - if user_signed_in?
          %span
            |
          %a{:href => "/references?commit=review"} Show latest changes
          %span
            |
          %a{:href => "/journals"} Edit journals
      .header_search
        %b Search for
        %input.header_search_input{:type => "text", :name => "q", :value => params[:q], :style => "height:20px;"}
        %input.header_search_submit{:type => "submit", :name => "commit", :value => "Go &#187;"}
  #page_title
    .left
      %a{:href => references_path}
        %h1 ANTBIB
    .left
      %h2 A Bibliography of Ant Systematics
    .right
      %h3 by Philip S. Ward, et al.
    .clear

- unless @references.present?
  No results found

- if user_signed_in?
  %p
    %a.add_reference_link{:href => '#'}
      Add reference

%table.references

  - if @reviewing
    %tr
      %td
      %td.date_header
        Updated

  - if @seeing_whats_new
    %tr
      %td
      %td.date_header
        Created

  - for reference in @references
    %tr.reference_row
      %td
        = render :partial => 'reference', :locals => {:reference => reference, :publisher_string => @publisher_string, :css_class => 'reference'}
      - if @reviewing
        %td.date
          = format_timestamp reference.updated_at
      - if @seeing_whats_new
        %td.date
          = format_timestamp reference.created_at

  - if user_signed_in?
    %tr.reference_template_row
      %td
        = render :partial => 'reference', :locals => {:reference => nil, :publisher_string => @publisher_string, :css_class => 'reference_template'}

%div= will_paginate @references
