- content_for :head do
  = stylesheet_link_tag 'references'
  = javascript_include_tag 'references', 'reference_autocompletion', 'ext/jquery.form'

#subheader
  = render :partial => 'shared/search'
  .clear
  %hr

  - unless @references.present?
    No results found

  - if user_signed_in?
    %p
      %a.add_reference_link{:href => '#'}
        Add reference

%table.references

  - if @reviewing
    %tr
      %td
      %td{:style => 'font-weight: bold'}
        Updated

  - if @seeing_whats_new
    %tr
      %td
      %td{:style => 'font-weight: bold'}
        Created

  - for reference in @references
    %tr.reference_row
      %td
        = render :partial => 'reference', :locals => {:reference => reference, :css_class => 'reference'}
      - if @reviewing
        %td{:style => 'width: 90px; vertical-align: top'}
          = reference.updated_at.strftime("%Y-%m-%d")
      - if @seeing_whats_new
        %td{:style => 'width: 90px; vertical-align: top'}
          = reference.created_at.strftime("%Y-%m-%d")

  - if user_signed_in?
    %tr.reference_template_row
      %td
        = render :partial => 'reference', :locals => {:reference => nil, :css_class => 'reference_template'}

%div= will_paginate @references
