- @title = 'Bibliography'

- content_for :head do
  = javascript_include_tag 'references', 'reference_autocompletion', 'qtip'

- content_for :page_header do
  #navigation_bar
    .actions
      - items = [link_to('Latest additions', references_path(:commit => 'new'))]
      - if user_can_edit?
        - items << link_to('Latest changes', references_path(:commit => 'review'))
        - items << link_to('Journals', journals_path)
      - items << link_to('Export to EndNote', endnote_import_path(:q => params[:q]), :confirm => @endnote_export_confirmation_message)
      = make_link_menu items

    = render 'search', :params => params

  .title
    %h2.left ANTBIB
    %h2.left A Bibliography of Ant Systematics
    %h3.right by Philip S. Ward, et al.
    .clear

-if @references.empty?
  .no_results_found
    No results found

%table.references

  - if params[:review]
    %tr
      %td
      %td.date_header
        Changed

  - if params[:whats_new]
    %tr
      %td
      %td.date_header
        Created

  - for reference in @references
    %tr.reference_row
      %td
        = render 'reference', :reference => reference, :publisher_string => @publisher_string, :css_class => 'reference'
      - if params[:review]
        %td.date
          = format_timestamp reference.updated_at
      - if params[:whats_new]
        %td.date
          = format_timestamp reference.created_at

  - if user_can_edit?
    %tr.reference_template_row
      %td
        = render 'reference', :reference => nil, :publisher_string => @publisher_string, :css_class => 'reference_template'

%div= will_paginate @references
