-page_title "History Item ##{@history_item.id}"
-breadcrumb :history_item, @history_item

-content_for :breadcrumbs_right do
  -if current_user
    Standard format
    -if @history_item.standard_format?
      =antcat_icon 'check'
    -else
      =antcat_icon 'nope'
    =logged_in_only_tooltip_icon "Beta feature. More formats will be supported in the future."

  -if user_is_at_least_helper?
    =link_to "Edit", edit_history_item_path(@history_item), class: "btn-default"
  =link_to "History", history_item_history_path(@history_item), class: "btn-default"
  =activities_link_for_trackable @history_item
  -if user_is_editor?
    =link_to "Delete", history_item_path(@history_item), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-danger"

.row.mb-8
  .medium-9
    %p
      This history item belongs to
      =@protonym.decorate.link_to_protonym_with_author_citation

    %p
      Its current taxon owner(s) is
      =CatalogFormatter.link_to_taxa(@history_item.terminal_taxa)

    -if @history_item.rank?
      %p
        =antcat_icon "warning-icon"
        Show only for rank: #{@history_item.rank}

    .callout.mb-8
      -if @history_item.valid?
        %p
          =Detax[@history_item.to_taxt]

        %hr

        %pre.pre-wrapped
          =@history_item.to_taxt

  .medium-3
    .bluebox
      %ul.no-bullet
        %li
          Item type:
          %span.font-bold.text-gray-500.mr-4=@history_item.underscored_type

      %ul.no-bullet.text-sm
        %li Created at: #{l @history_item.created_at, format: :ymd}
        %li Updated at: #{l @history_item.updated_at, format: :ymd}

.mb-20

-protonym_taxa_present = @protonym.taxa.present?
-has_more_than_a_single_history_item = @protonym.history_items.size > 1

-if protonym_taxa_present || has_more_than_a_single_history_item
  %h5 Related records

  -# TODO: DRY w.r.t. 'history_items/_form.html.haml'.
  -if protonym_taxa_present
    .mb-8
      %h6.font-bold Taxa belonging to this history item's protonym
      %table.table-striped
        -TaxonQuery.new(@protonym.taxa.order_by_name).with_common_includes_and_current_taxon_includes.each do |taxon|
          %tr
            %td=CatalogFormatter.link_to_taxon(taxon)
            %td=taxon.rank.capitalize
            %td
              =taxon.status.capitalize
              -unless taxon.status.in?(Taxa::ExpandedStatus::SELF_STATUSES)
                .text-sm=taxon.decorate.expanded_status

  -if has_more_than_a_single_history_item
    %h6.font-bold Other history items belonging to #{@protonym.name.name_html}
    %table.table-striped
      %tbody
        -@protonym.history_items.each do |protonym_history_item|
          %tr{class: ('!bg-logged-in-only' if protonym_history_item == @history_item)}
            %td
              =link_to "##{protonym_history_item.id}", history_item_path(protonym_history_item)
              -if protonym_history_item == @history_item
                %strong (selected)
            %td.grow-tw-conflict.text-sm
              =Detax[protonym_history_item.to_taxt]
