.header
  .margin
    - unless bolton_reference.match
      - if bolton_reference.match_status != 'unmatchable'
        - text = 'Unmatchable'
        - match = 'unmatchable'
      - else
        - text = 'Matchable'
        - match = nil
      = button_to text, bolton_reference_path(bolton_reference, :match => match), :method => :put, :remote => true, :disabled => ReleaseType.user_can_not_edit?
      = button_to 'Enter ID', bolton_reference_path(bolton_reference, :match => '_id_'), :method => :put, :remote => true, :disabled => ReleaseType.user_can_not_edit?, :class => 'enter_id'
  .details
    .fields
      .authors=             bolton_reference.authors
      .citation_year=       bolton_reference.citation_year
      .series_volume_issue= bolton_reference.series_volume_issue
      .pagination_field=    bolton_reference.pagination
      .reference_type=      bolton_reference.reference_type
      .id=                  bolton_reference.id
    .title=                 bolton_reference.title + " [#{bolton_reference.best_match_similarity}]"
