.header
  .margin
    = bolton_reference.best_match_similarity
    - if bolton_reference.match_status != 'unmatcheable'
      - text = 'Unmatcheable'
      - match = 'unmatcheable'
    - else
      - text = 'Matcheable'
      - match = nil
    = button_to text, bolton_reference_path(bolton_reference, :match => match), :method => :put, :remote => true, :disabled => !user_signed_in?
  .details
    .fields
      .authors=             bolton_reference.authors
      .citation_year=       bolton_reference.citation_year
      .series_volume_issue= bolton_reference.series_volume_issue
      .pagination_field=    bolton_reference.pagination
      .reference_type=      bolton_reference.reference_type
      .id=                  bolton_reference.id
    .title=                 bolton_reference.title
