.header.box
  .margin= bolton_reference.matches.first && bolton_reference.matches.first.similarity

  .details
    .fields
      .authors=             bolton_reference.authors
      .citation_year=       bolton_reference.citation_year
      .series_volume_issue= bolton_reference.series_volume_issue
      .pagination_field=    bolton_reference.pagination
      .reference_type=      bolton_reference.reference_type
      .id=                  bolton_reference.id
    .title=                 bolton_reference.title
