.match
  .margin
    - if bolton_reference.match != reference
      = button_to "Match", bolton_reference_path(bolton_reference, :match => reference), :method => :put, :remote => true, :disabled => !user_signed_in?
    - else
      = button_to "Unmatch", bolton_reference_path(bolton_reference, :match => nil), :method => :put, :remote => true, :disabled => !user_signed_in?

  .details
    .fields
      .authors= reference.author_names_string
      .citation_year= reference.citation_year
      .series_volume_issue= reference.series_volume_issue
      .pagination= reference.pagination || reference.pages_in
      .reference_type= reference.type
      .id= reference.id
    .title= raw ReferenceFormatter.italicize reference.title
