.match{:class => css_class}
  .margin
    - disabled = !user_signed_in?
    - if bolton_reference.match != reference
      - text = 'Match'
      - match = reference
    - else
      - text = 'Unmatch'
      - match = nil
    = button_to text, bolton_reference_path(bolton_reference, :match => match), :method => :put, :remote => true, :disabled => disabled

  .details
    .fields
      .authors=             reference.author_names_string
      .citation_year=       reference.citation_year
      .series_volume_issue= reference.series_volume_issue
      .pagination_field=    reference.pagination || reference.pages_in
      .reference_type=      reference.type
      .id=                  reference.id
    .title= ReferenceFormatter.italicize h reference.title
