= form_tag bolton_references_path, :method => 'get', :id => 'search_form' do
  .search
    %span.search_item Search for
    = text_field_tag "q", params[:q]
    = image_tag 'help.png', :id => :q_help, :class => :help_icon

    = check_box_tag 'match_status_auto', 'true', params['match_status_auto']
    %span.search_item= label_tag 'match_status_auto', "Auto (#{Bolton::Reference.match_status_auto_count})", :id => 'match_status_auto_count_label'

    = check_box_tag 'match_status_manual', 'true', params['match_status_manual']
    %span.search_item= label_tag 'match_status_manual', "Manual (#{Bolton::Reference.match_status_manual_count})", :id => 'match_status_manual_count_label'

    = check_box_tag 'match_status_none', 'true', params['match_status_none']
    %span.search_item= label_tag 'match_status_none', "None (#{Bolton::Reference.match_status_none_count})", :id => 'match_status_none_count_label'

    = check_box_tag 'match_status_unmatcheable', 'true', params['match_status_unmatcheable']
    %span.search_item= label_tag 'match_status_unmatcheable', "Unmatcheable (#{Bolton::Reference.match_status_unmatcheable_count})", :id => 'match_status_unmatcheable_count_label'

    = image_tag 'help.png', :id => :match_status_help, :class => :help_icon

    = submit_tag "Go"

= render 'shared/qtip'
