= form_tag bolton_references_path, :method => 'get', :id => 'search_form' do
  .search
    %span.search_item Search for
    = text_field_tag "q", params[:q]
    = image_tag 'help.png', :id => :q_help, :class => :help_icon

    %span.search_item Best match &lt;=
    = text_field_tag "match_threshold", params['match_threshold']
    = image_tag 'help.png', :id => :match_threshold_help, :class => :help_icon

    %span.search_item Matches:

    %span.search_item= label_tag 'match_status_auto', 'Auto'
    = check_box_tag 'match_status_auto', 'true', params['match_status_auto']

    %span.search_item= label_tag 'match_status_manual', 'Manual'
    = check_box_tag 'match_status_manual', 'true', params['match_status_manual']

    %span.search_item= label_tag 'match_status_none', 'None'
    = check_box_tag 'match_status_none', 'true', params['match_status_none']

    = image_tag 'help.png', :id => :match_status_help, :class => :help_icon

    = submit_tag "Go"

= render 'shared/qtip'
