= form_tag bolton_references_path, :method => 'get', :id => 'search_form' do
  .search
    Search for
    = text_field_tag "q", params[:q]
    = image_tag 'help.png', :class => 'help_icon'
    = submit_tag "Go"

= render 'shared/qtip'
