- @title = 'Bolton References'

- content_for :head do
  = javascript_include_tag 'ext/jquery.qtip-1.0.0-rc3.min'
  = javascript_include_tag 'bolton_references'
  = stylesheet_link_tag 'bolton_references'

- content_for :page_header do
  #navigation_bar
    = render 'search', :params => params

  .title
    %h2.left Bolton References
    .clear

%div= will_paginate @references

.references
  - for bolton_reference in @references
    - background_color = color_for_bolton_reference(bolton_reference)
    .reference
      %table{:style => "background: #{background_color}"}
        %tr
          %td
            %table
              %tr
                %td
                  %table
                    %tr
                      %td.similarity= bolton_reference.matches.first && bolton_reference.matches.first.similarity
                      %td.authors= bolton_reference.authors
                      %td.citation_year= bolton_reference.citation_year
                      %td.series_volume_issue= bolton_reference.series_volume_issue
                      %td.pagination= bolton_reference.pagination
                      %td.reference_type= bolton_reference.reference_type
                      %td.id= bolton_reference.id
              %tr
                %td
                  %table
                    %tr
                      %td.similarity
                      %td= bolton_reference.title

        - if bolton_reference.match
          - match = bolton_reference.match
          %table.match{:style => "background: #{background_color}"}
            %tr
              %td
                %table
                  %tr
                    %td
                      %table
                        %tr
                          %td.similarity
                          %td.authors= match.author_names_string
                          %td.citation_year= match.citation_year
                          %td.series_volume_issue= match.series_volume_issue
                          %td.pagination= match.pagination || match.pages_in
                          %td.reference_type= match.type
                          %td.id= match.id
                  %tr
                    %td
                      %table
                        %tr
                          %td.similarity
                          %td= raw ReferenceFormatter.italicize match.title

        - for match in bolton_reference.matches
          - next if match.reference == bolton_reference.match
          %table.match
            %tr
              %td
                %table
                  %tr
                    %td
                      %table
                        %tr
                          %td.similarity
                          %td.authors= match.reference.author_names_string
                          %td.citation_year= match.reference.citation_year
                          %td.series_volume_issue= match.reference.series_volume_issue
                          %td.pagination= match.reference.pagination || match.reference.pages_in
                          %td.reference_type= match.reference.type
                          %td.id= match.reference.id
                  %tr
                    %td
                      %table
                        %tr
                          %td.similarity
                          %td= raw ReferenceFormatter.italicize match.reference.title

      %table.original{:style => "background: #{background_color}"}
        %tr
          %td.similarity
          %td.original= raw bolton_reference.original

%div= will_paginate @references
