- @title = 'Bolton References'

- content_for :head do
  = javascript_include_tag 'bolton_references', 'qtip'
  = stylesheet_link_tag 'bolton_references'

- content_for :page_header do
  #navigation_bar
    = render 'search', :params => params

  .title
    %h2.left Bolton References
    .clear

%div= will_paginate @references

#container
  - for bolton_reference in @references
    %div{:id => "bolton_reference_#{bolton_reference.id}"}
      = render 'bolton_reference', :bolton_reference => bolton_reference

%div= will_paginate @references
