- @title = 'Bolton References'

- content_for :head do
  = javascript_include_tag 'ext/jquery.qtip-1.0.0-rc3.min'
  = javascript_include_tag 'bolton_references'
  = stylesheet_link_tag 'bolton_references'

- content_for :page_header do
  #navigation_bar
    = render 'search', :params => params

  .title
    %h2.left Bolton References
    .clear

%div= will_paginate @references

.references
  - for bolton_reference in @references
    .reference
      %table
        %tr
          %td
            %table
              %tr
                %td
                  %table
                    %tr
                      %td.id= bolton_reference.id
                      %td.authors= bolton_reference.authors
                      %td.citation_year= bolton_reference.citation_year
                      %td.series_volume_issue= bolton_reference.series_volume_issue
                      %td.pagination= bolton_reference.pagination
                      %td.reference_type= bolton_reference.reference_type
              %tr
                %td
                  %table
                    %tr
                      %td= bolton_reference.title

        - for match in bolton_reference.matches
          %table.match
            %tr
              %td
                %table
                  %tr
                    %td
                      %table
                        %tr
                          %td{:style => 'width:55px'}= match.reference.id
                          %td{:style => 'width:200px'}= match.reference.author_names_string
                          %td{:style => 'width: 108px'}= match.reference.citation_year
                          %td{:style => 'width: 168px'}= match.reference.series_volume_issue
                          %td{:style => 'width: 119px'}= match.reference.pagination || match.reference.pages_in
                          %td{:style => 'width: 100px; text-align:right'}= match.reference.type
                  %tr
                    %td
                      %table
                        %tr
                          %td= match.reference.title

      %table
        %tr
          %td.original= raw bolton_reference.original

%div= will_paginate @references
