- @title = 'Bolton References'

- content_for :head do
  = javascript_include_tag 'ext/jquery.qtip-1.0.0-rc3.min'
  = javascript_include_tag 'bolton_references'
  = stylesheet_link_tag 'bolton_references'

- content_for :page_header do
  #navigation_bar
    = render 'search', :params => params

  .title
    %h2.left Bolton References
    .clear

%div= will_paginate @references

#container
  .references
    - for bolton_reference in @references
      = render :partial => 'reference', :locals => {:bolton_reference => bolton_reference}

%div= will_paginate @references
