:ruby
  feedback_body = <<-MSG.squish
    Thanks for helping us make AntCat better by replacing this message with your comments,
    suggestions, and questions. You may also want to check out the AntCat Google group at
    https://groups.google.com/forum/?fromgroups#!forum/antcat where we discuss the project.

    Stan Blum
    California Academy of Sciences
    http://antcat.org
  MSG

#login
  .link
    - items = []
    - if user_signed_in?
      - items << link_to(current_user.name || current_user.email, edit_user_registration_path)
      - items << link_to('Logout', destroy_user_session_path)
      - if current_user.is_superadmin?
        - items << link_to('Admin', admin_root_path)
    - else
      - items << link_to('Login', '#', class: :link)
    - items << mail_to('sblum@calacademy.org', 'Feedback', subject: 'AntCat feedback', body: feedback_body)
    = make_link_menu items

  .form
    = form_tag user_session_path do
      Email
      = text_field_tag "user[email]"
      Password
      = password_field_tag "user[password]"
      = submit_tag "Go", class: "btn-login"
      %br
      %span.small
        = make_link_menu check_box_tag("user[remember_me]", "1", true) + "Remember me ",  link_to('Forgot password?', new_user_password_path), link_to('Cancel', '#', class: :link)
