#desktop-only.show-for-large
  .top-bar
    #desktop-logo.top-bar-title
      =link_to root_path do
        =image_tag 'logos/antcat_white_174x37.png', alt: 'AntCat', id: "desktop-logo"

    #desktop-menu
      #desktop-upper-menu.top-bar-right
        %ul.menu
          -# HACK: Because lazy.
          -if current_user&.id == 60
            %small.left
              =link_to_current_page_on_live_site_or_localhost
          -if user_signed_in?
            =render "unseen_notifications_badge"
            =render "unread_site_notices_badge"
            %li=link_to "Editor's Panel", editors_panel_path, class: "top-header-link #{'very-active' if menu_active?(:editors_panel)}"
            -if AntCat::SHOW_FAILED_SOFT_VALIDATION_IN_CATALOG
              %li=link_to 'Fix Random!', catalog_fix_random_path, class: "top-header-link"
            %li=link_to 'Activity Feed', activities_path, class: "top-header-link #{'very-active' if menu_active?(:activity_feed)}"
            %li=link_to current_user.name, current_user, class: "top-header-link"
            %li=link_to 'Logout', destroy_user_session_path, method: :delete, class: "top-header-link"
          -else
            %li=link_to 'Login', new_user_session_path, class: "top-header-link"
            %li=link_to 'Sign up', new_user_registration_path, class: "top-header-link"

      %br
      %br

      #desktop-lower-menu.top-bar-right
        %ul.menu
          =render "unconfirmed_user_notice"
          %li=link_to 'References', references_path, class: "big-screaming-orange-button #{'very-active' if menu_active?(:references)}"
          %li=link_to 'Catalog', root_path, class: "big-screaming-green-button #{'very-active' if menu_active?(:catalog)}"
          %li
            =form_tag references_search_index_path, method: :get, class: "reference-search-form" do
              .input-group
                =text_field_tag "reference_q", params[:reference_q], placeholder: "Search References", class: "typeahead-references-js input-group-field expandable-reference-search"
                =button_tag type: 'submit', name: nil, id: "header-reference-search-button-test-hook" do
                  %i.inline-search-icon.fa.fa-search

          %li
            =form_tag catalog_search_path, method: :get do
              .input-group
                =text_field_tag 'qq', params[:qq], placeholder: "Search Catalog", class: 'input-group-field expandable-catalog-search typeahead-taxa-js-hook'
                =hidden_field_tag :submit_search, true
                =hidden_field_tag Catalog::SearchesController::SEARCHING_FROM_HEADER, true
                =button_tag type: 'submit', name: nil, id: "header-catalog-search-button-test-hook" do
                  %i.inline-search-icon.fa.fa-search

#mobile-only.hide-for-large
  .top-bar
    .row
      .small-5.columns
        #mobile-logo.top-bar-title{data: { hide_for: "large", responsive_toggle: "mobile-menu" }}
          %span.float-left
            %span.menu-icon{data: { toggle: true }}
          =image_tag 'logos/antcat_white_174x37.png', data: { toggle: true }
      =render "unseen_notifications_badge"
      =render "unread_site_notices_badge"
      =render "unconfirmed_user_notice"

  #mobile-menu
    %ul.vertical.menu
      %li.has-form
        =form_tag references_search_index_path, method: :get do
          .row#search-row
            .small-9.columns
              =text_field_tag 'reference_q', params[:reference_q], placeholder: "Search References", class: "typeahead-references-js"
            .small-3.columns
              =button_tag search_icon, type: "submit", name: nil, class: "button expanded mobile-search-button"

      %li.has-form
        =form_tag catalog_search_path, method: :get do
          .row#search-row
            .small-9.columns
              =text_field_tag 'qq', params[:qq], placeholder: "Search Catalog", class: "typeahead-taxa-js-hook"
              =hidden_field_tag :submit_search, true
              =hidden_field_tag Catalog::SearchesController::SEARCHING_FROM_HEADER, true
            .small-3.columns
              =button_tag search_icon, type: "submit", name: nil, class: "button expanded mobile-search-button"

      %li=link_to 'References', references_path
      %li=link_to "Catalog", root_path
      -if user_signed_in?
        %li=link_to "Editor's Panel", editors_panel_path
        -if AntCat::SHOW_FAILED_SOFT_VALIDATION_IN_CATALOG
          %li=link_to 'Fix Random!', catalog_fix_random_path
        %li=link_to 'Activity Feed', activities_path
        %li=current_user.decorate.user_page_link
        %li=link_to 'Logout', destroy_user_session_path, method: :delete
      -else
        %li=link_to 'Login', new_user_session_path
        %li=link_to 'Sign up', new_user_registration_path
      %li
        %a{data: { open: "feedback_modal" }} Feedback or suggest an edit

.left=render "tagline"

-if current_user
  .right.show-for-large
    -if Issue.help_wanted?
      =link_to "Help Wanted (#{Issue.open_help_wanted.count})", issues_path, id: 'btn-lower-nav-help-wanted', class: 'btn-tiny'
    =link_to 'Database Scripts', database_scripts_path, class: 'btn-lower-nav btn-tiny'
    =link_to "Activities", activities_path, class: 'btn-lower-nav btn-tiny'
    =link_to "Search History Items", taxon_history_items_path, class: 'btn-lower-nav btn-tiny'
