#desktop-only-header{class: "hidden lg:block pt-4 pb-8"}
  #desktop-upper-menu.float-right.pt-2
    %ul.no-bullet.flex
      -if user_signed_in?
        =unseen_notifications_badge = capture { render "unseen_notifications_badge" }
        =unread_site_notices_badge = capture { render "unread_site_notices_badge" }
        %li=link_to "Editor's Panel", editors_panel_path, class: "desktop-upper-menu-link #{'very-active' if menu_active?(:editors_panel)}"
        %li=link_to 'Activity Feed', activities_path, class: "desktop-upper-menu-link #{'very-active' if menu_active?(:activity_feed)}"
        %li=link_to current_user.name, current_user, class: "desktop-upper-menu-link"
        %li=link_to 'Logout', destroy_user_session_path, method: :delete, class: "desktop-upper-menu-link"
      -else
        %li=link_to 'Login', new_user_session_path, class: "desktop-upper-menu-link"
        %li=link_to 'Sign up', new_user_registration_path, class: "desktop-upper-menu-link"

  .clearfix

  .float-left
    =link_to root_path do
      =image_tag 'logos/antcat_white_174x37.png', alt: 'AntCat'

  #desktop-lower-menu.float-right.mb-2
    %ul.no-bullet.flex.items-center
      %li.uppercase.mr-6=link_to 'References', references_latest_additions_path, class: "big-screaming-orange-button #{'very-active' if menu_active?(:references)}"
      %li.uppercase.mr-6=link_to 'Catalog', root_path, class: "big-screaming-green-button #{'very-active' if menu_active?(:catalog)}"
      %li
        =form_with url: references_search_index_path, method: :get, class: "mr-4" do |f|
          .flex
            =f.text_field "reference_q", value: params[:reference_q], placeholder: "Search References", "aria-label" => "Search References", id: nil, class: "typeahead-references-js expandable-reference-search placeholder:text-sm", data: { testid: 'header-reference-search-input' }
            =button_tag type: 'submit', name: nil, "aria-label" => 'Search References', data: { testid: 'header-reference-search-button' } do
              %i.inline-search-icon.icon-search

      %li
        =form_with url: catalog_search_path, method: :get do |f|
          .flex
            =f.text_field 'qq', value: params[:qq], placeholder: "Search Catalog", "aria-label" => "Search Catalog", id: nil, class: 'expandable-catalog-search typeahead-taxa-js-hook placeholder:text-sm'
            =hidden_field_tag Catalog::SearchesController::SEARCHING_FROM_HEADER, true, id: nil
            =button_tag type: 'submit', name: nil, "aria-label" => 'Search Catalog', data: { testid: 'header-catalog-search-button' } do
              %i.inline-search-icon.icon-search

#mobile-only-header.text-sm{class: "block lg:hidden pt-2"}
  %input#mobile-hamburger-input{type: "checkbox", checked: false}
  %label#mobile-hamburger-label{for: "mobile-hamburger-input"}
    %span#mobile-hamburger-lines

  .pt-4
    =link_to root_path do
      =image_tag 'logos/antcat_white_174x37.png', alt: 'AntCat'

  .clearfix

  %ul.list-none
    =unseen_notifications_badge
    =unread_site_notices_badge

  .clearfix

  #mobile-menu-content
    %ul.no-bullet
      %li
        =form_with url: references_search_index_path, method: :get do |f|
          .flex
            =f.text_field "reference_q", value: params[:reference_q], placeholder: "Search References", "aria-label" => "Search References", id: nil, class: "typeahead-references-js placeholder:text-sm"
            =button_tag search_icon, type: "submit", name: nil do
              %i.inline-search-icon.icon-search

      %li
        =form_with url: catalog_search_path, method: :get do |f|
          .flex
            =f.text_field 'qq', value: params[:qq], placeholder: "Search Catalog", "aria-label" => "Search Catalog", id: nil, class: "typeahead-taxa-js-hook placeholder:text-sm"
            =hidden_field_tag Catalog::SearchesController::SEARCHING_FROM_HEADER, true, id: nil
            =button_tag search_icon, type: "submit", name: nil do
              %i.inline-search-icon.icon-search

    %ul.mobile-menu-ul.no-bullet
      %li=link_to 'References', references_latest_additions_path
      %li=link_to "Catalog", root_path
      -if user_signed_in?
        %li=link_to "Editor's Panel", editors_panel_path
        %li=link_to 'Activity Feed', activities_path
        %li=current_user.decorate.user_page_link
        %li=link_to 'Logout', destroy_user_session_path, method: :delete
      -else
        %li=link_to 'Login', new_user_session_path
        %li=link_to 'Sign up', new_user_registration_path
      %li=link_to 'Feedback or suggest an edit', new_feedback_path(page: current_page_for_feedback)

.clearfix

.float-left
  -if menu_active?(:catalog)
    An Online Catalog of the Ants of the World
    %small by Barry Bolton
  -if menu_active?(:references)
    ANTBIB: A Bibliography of Ant Systematics
    %small
      by Philip S. Ward,
      %i et al.

-if current_user
  .float-right{class: "hidden lg:block"}
    =link_to "[disco button]", "#", id: 'toggle-disco-mode-js-hook', class: 'btn-lower-nav btn-lower-nav-no-danger hidden'
    =link_to "Issues (#{Issue.open.count})", issues_path, class: 'btn-lower-nav'
    -if Issue.any_help_wanted_open?
      =link_to "Help Wanted (#{Issue.open_help_wanted.count})", issues_path, class: 'btn-lower-nav btn-lower-nav-high-priority font-bold'
    =link_to 'Database Scripts', database_scripts_path, class: 'btn-lower-nav'
    =link_to "Search History Items", history_items_path, class: 'btn-lower-nav'

.pb-12
