!!!
%html{xmlns: 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', lang: 'en'}
  %head
    %title= make_title @title
    %meta{'http-equiv' => "content-type", content: "text/html;charset=UTF-8"}

    = csrf_meta_tag

    -# FOUC fix
    %style{type: 'text/css'}=".js #flash {display:none;}"

    :coffee
      window.AntCat = {} unless window.AntCat?
      AntCat.environment = '#{Rails.env}'
      AntCat.testing = #{Rails.env == 'test'}
      AntCat.user_can_edit = #{!!user_can_edit?}

    = javascript_include_tag 'google_analytics'
    = javascript_include_tag 'application'

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'bootstrap_custom'
    = stylesheet_link_tag 'jquery_overrides'
    = stylesheet_link_tag "controllers/#{params[:controller]}" if AntCat::Application.assets.find_asset "controllers/#{params[:controller]}"

    = favicon_link_tag 'favicon.ico'

    = yield :head

  %body#flash{class: controller.class}
    #page
      #site_header
        = render 'site_header'

      #page_header
        - if content_for? :page_header
          = yield :page_header
        - else
          %h2.title= @title
      %hr

      - if flash[:notice].present?
        #page_notice= flash[:notice]
      - if flash[:alert].present?
        #page_alert= flash[:alert]

      #page_contents
        = content_for?(:page_contents) ? yield(:page_contents) : yield
      %hr

      #site_footer
        = render 'site_footer'

      :javascript
        $('#flash').show(); // FOUC fix
