!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}
  %head
    %title= (@title || 'AntCat') + (Rails.env.development? ? ' (local)' : '')
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}/

    %style{:type => 'text/css'}
      = ".js #flash {display:none;}"

    = javascript_include_tag 'ext/jquery-1.4.2.min', 'ext/jquery-ui-1.8.5.custom.min'
    = javascript_include_tag 'application'

    = stylesheet_link_tag 'ext/jquery-ui/jquery-ui-1.8.5.custom'
    = stylesheet_link_tag 'application'

    = yield :head

    :javascript
      var usingCucumber = #{Rails.env == 'cucumber'};
      var loggedIn = #{user_signed_in?};
      document.documentElement.className = 'js'; // FOUC fix

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5512531-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{:class => @controller.class, :id => 'flash'}
    #page
      #header
        = render :partial => 'shared/login'
        .clear

        %hr
        - if @content_for_header
          = yield :header
        - else
          .left
            %h1 AntCat
        .clear

        #notice
          =flash[:notice]
        #alert
          =flash[:alert]
        %hr

      #contents
        = yield

      #footer
        %hr
        %table#images
          %tr
            %td
              %a{:href => 'http://www.nsf.gov/', :target => '_blank'}
                %img{:style => "height: 50px", :src => '/images/nsf1.gif', :title => "Supported in part by NSF Award DBI-0642321"}
            %td.spacer
              %td
                %a{:href => 'http://www.calacademy.org/', :target => '_blank'}
                  %img{:style => "height: 40px", :src => '/images/calacademy.gif'}
            %td.spacer
            %td
              %a{:href => 'http://rubyonrails.org/', :target => '_blank'}
                %img{:style => "height: 40px", :src => '/images/rails.png' }
            %td.spacer
            %td
              %a{:href => 'http://hol.osu.edu/', :target => '_blank'}
                %img{:style => "height: 20px", :src => '/images/hol.png'}
            %td.spacer
            %td
              %a{:href => 'http://antbase.org/', :target => '_blank'}
                %img{:style => "height: 20px", :src => '/images/antbase.org.png'}
            %td.spacer
            %td
              %a{:href => 'http://www.zotero.org/', :target => '_blank'}
                %img{:style => "height: 20px", :src => '/images/zotero_logo_tiny.png'}
      :javascript
        $('#flash').show(); // FOUC fix
