!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}
  %head
    %title ANTBIB
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}/

    %style{:type => 'text/css'}
      = ".js #flash {display:none;}"

    = javascript_include_tag |
                             'ext/jquery-1.4.2.min',                    |
                             'ext/jquery-ui-1.8.5.custom.min',          |
                             'ext/jquery.watermark.min',                |
                             'ext/jquery.spinner',                      |
                             'ext/jquery.ui.autocomplete.selectFirst',  |
                             :cache => true                             |
    = javascript_include_tag 'application'

    = stylesheet_link_tag |
                            'ext/jquery-ui/jquery-ui-1.8.5.custom', |
                            'application',                          |
                            :cache => true                          |

    :javascript
      var usingCucumber = #{Rails.env == 'cucumber'};
      var loggedIn = #{user_signed_in?};
      document.documentElement.className = 'js'; // FOUC fix

    = yield :head

  %body{:class => @controller.class, :id => 'flash'}
    #page
      #header
        = render :partial => 'shared/login'
        .clear

        %hr
        .left
          %a{:href => references_path}
            %h1 ANTBIB
        .left
          %h2 A Bibliography of Ant Systematics
        .right
          %h3 by Philip S. Ward, et al.
        .clear

        #notice
          =flash[:notice]
        #alert
          =flash[:alert]
        %hr

      #contents
        = yield

      #footer
        %hr
        %table#images
          %tr
            %td
              %a{:href => 'http://www.nsf.gov/'}
                %img{:style => "height: 50px", :src => '/images/nsf1.gif', :title => "Supported in part by NSF Award DBI-0642321"}
            %td.spacer
              %td
                %a{:href => 'http://www.calacademy.org/'}
                  %img{:style => "height: 40px", :src => '/images/calacademy.gif'}
            %td.spacer
            %td
              %a{:href => 'http://rubyonrails.org/'}
                %img{:style => "height: 40px", :src => '/images/rails.png' }
            %td.spacer
            %td
              %a{:href => 'http://www.zotero.org/'}
                %img{:style => "height: 20px", :src => '/images/zotero_logo_tiny.png'}
      :javascript
        $('#flash').show(); // FOUC fix
