!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    - title = (@title && "#{@title} - ") || ""
    %title= title + 'AntCat' + (Rails.env.development? ? ' (local)' : '')
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}

    = csrf_meta_tag

    -# FOUC fix
    %style{:type => 'text/css'}=".js #flash {display:none;}"

    = javascript_include_tag 'ext/jquery-1.4.2.min', 'ext/jquery-ui-1.8.5.custom.min', 'ext/rails.js'
    = javascript_include_tag 'google_analytics'
    = javascript_include_tag 'application'

    = stylesheet_link_tag 'ext/jquery-ui/jquery-ui-1.8.5.custom'
    = stylesheet_link_tag 'application'

    %link{:rel => "shortcut icon", :href => "http://www.antweb.org/images/favicon.ico"}

    = yield :head

    :javascript
      var testing = #{Rails.env == 'test'};
      var loggedIn = #{user_signed_in?};

  %body#flash{:class => controller.class}
    #page
      #site_header
        = render :partial => 'shared/site_header'

      #page_header
        - if content_for? :page_header
          = yield :page_header
        - else
          %h2.title= @title

      %hr
      #page_notice
        = flash[:notice]
      #page_alert
        = flash[:alert]
      #page_contents
        = yield
      %hr

      #site_footer
        = render :partial => 'shared/site_footer'

      :javascript
        $('#flash').show(); // FOUC fix
      /[if IE]
        = stylesheet_link_tag 'ie'
