!!!
%html{:xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en'}

  %head
    = make_title @title
    %meta{'http-equiv' => "content-type", :content => "text/html;charset=UTF-8"}

    = csrf_meta_tag

    -# FOUC fix
    %style{:type => 'text/css'}=".js #flash {display:none;}"

    = javascript_include_tag 'ext/jquery-1.4.4.min', 'ext/jquery-ui-1.8.5.custom.min', 'ext/rails.js'
    = javascript_include_tag 'google_analytics' if Rails.env == 'production'
    = javascript_include_tag 'application'

    = stylesheet_link_tag 'ext/jquery-ui/jquery-ui-1.8.5.custom'

    = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie', :media => 'screen, projection'

    = stylesheet_link_tag 'application'

    %link{:rel => "shortcut icon", :href => "http://www.antweb.org/images/favicon.ico"}

    = yield :head

    :javascript
      var testing = #{Rails.env == 'test'};
      var user_can_edit = #{!!user_can_edit?};
      var delete_confirmation_message = "#{previewize('Do you want to delete this reference?')}";

  %body#flash{:class => controller.class}
    #page
      #site_header
        = render 'shared/site_header'

      #page_header
        - if content_for? :page_header
          = yield :page_header
        - else
          %h2.title= @title
      %hr

      - if flash[:notice].present?
        #page_notice= flash[:notice]
      - if flash[:alert].present?
        #page_alert= flash[:alert]

      #page_contents
        = content_for?(:page_contents) ? yield(:page_contents) : yield
      %hr

      #site_footer
        = render 'shared/site_footer'

      :javascript
        $('#flash').show(); // FOUC fix
      /[if IE]
        = stylesheet_link_tag 'ie'
