- content_for :head do
  = javascript_include_tag 'widgets/panel', 'widgets/form', 'widgets/nested_form', 'widgets/reference_panel', 'widgets/reference_picker', 'widgets/taxon_form'
  = javascript_include_tag 'widgets/taxt_editor'
  = javascript_include_tag 'catalog', 'catalog/taxon_key', 'catalog/history_item'

- content_for :page_header do
  #navigation_bar
    = form_tag '/catalog/search', method: :get do
      = hidden_field_tag 'id', @parameters[:id]
      .search
        Search for name
        = search_selector @parameters[:st]
        = text_field_tag 'q', @parameters[:q]
        = submit_tag  'Go'
        = submit_tag 'Clear' if (@search_results.present? && @search_results.size > 1) || @search_results_message
  = render 'shared/catalog_title'

- content_for :page_contents do
  = render 'search_results', search_results: @search_results, search_results_message: @search_results_message, taxon: @taxon
  = yield
  .clear
  = render 'taxon_key'

= render file: 'layouts/application'
