- content_for :head do
  = javascript_include_tag  'catalog'
  = javascript_include_tag  'superadmin_delete_button' if user_is_superadmin?

- content_for :page_contents do
  = render 'catalog_title'
  = yield

= render file: 'layouts/application'
