- content_for :head do
  = javascript_include_tag  'catalog'
  = javascript_include_tag  'superadmin_delete_button' if user_is_superadmin?

- content_for :page_header do
  #navigation_bar
    = render 'search_form', search_results: @search_results
  = render 'catalog_title'

- content_for :page_contents do
  = yield

= render file: 'layouts/application'
