- content_for :head do
  = stylesheet_link_tag 'catalog/catalog'
  = stylesheet_link_tag 'jquery.antcat.reference_picker.css'
  = javascript_include_tag 'catalog/catalog', 'catalog/taxon_key'
  = javascript_include_tag 'jquery.antcat.taxt_edit_box.js', 'jquery.antcat.reference_picker.js'

- content_for :page_header do
  #navigation_bar
    = form_tag @current_path, :method => 'get', :id => 'search_form' do
      = hidden_field_tag "is_search_form", true
      .actions.catalog_view_selector
        = label_tag 'index_view', 'Index'
        = radio_button_tag 'view_selector', 'Index', controller.class.name =~ /Index/, :id => 'index_view', :path => index_catalog_url(@taxon, :q => params['q'], :search_type => params[:search_type])
        - unless preview?
          = label_tag 'browser_view', 'Browser'
          = radio_button_tag 'view_selector', 'Browser', controller.class.name =~ /Browser/, :id => 'browser_view', :path => browser_catalog_url(@taxon, :q => params['q'], :search_type => params[:search_type])

      .search
        Search for name
        = search_selector params[:search_type]
        = hidden_field_tag "id", params[:id]
        = text_field_tag "q", params[:q]
        = submit_tag  "Go"
        - if @search_results.present? && @search_results.size > 1
          = submit_tag "Clear"
        = @search_results_message
  = render 'shared/catalog_title'

- content_for :page_contents do
  = render 'catalog/search_results', :search_results => @search_results, :taxon => @taxon,
    :path => controller.class.name =~ /Index/ ? :index_catalog_path : :browser_catalog_path
  = yield
  .clear
  = render 'catalog/taxon_key'

= render :file => 'layouts/application'
